@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


@layer components {
  ::selection {
    @apply text-black bg-yellow-200;
  }
  body, html {
    /* For sticky footers. */
    @apply h-full;
  }
  mark {
    @apply bg-yellow-200 p-1;
  }
  ins {
    @apply bg-green-200 text-green-700 no-underline;
  }
  del {
    @apply bg-red-200 text-red-700;
  }

  .deva-serif, .serif {
    /* font-family: "Noto Serif Devanagari", serif; */
    font-family: "Tiro Devanagari Sanskrit", serif;
  }

  /* Needed to support the Alpine `x-cloak` attribute. */
  [x-cloak] { display: none !important; }

  /* Theme colors */
  .text-brand { color: #1b415d; }
  .bg-brand { background: #1b415d; }

  /* Form controls */
  .btn {
    @apply rounded p-2 cursor-pointer select-none;
  }
  .btn-basic {
    @apply bg-slate-100 hover:bg-slate-300;
  }
  .btn-submit {
    @apply bg-brand text-white hover:bg-sky-500 transition;
    @apply active:translate-y-0.5;
  }
  ::file-selector-button {
    @apply border-0 p-2 rounded bg-slate-600 text-white cursor-pointer mr-4 hover:bg-black;
  }
  .f-select {
    @apply rounded text-sm bg-slate-100 text-slate-500 hover:text-slate-800 p-1
  }

  /* Dropdowns (e.g. in proofing editor) */
  .dropdown-pane {
    @apply z-50 bg-slate-900 text-white border border-slate-700 absolute a-hover-underline;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  .dropdown-item {
    @apply block w-full text-left px-2 py-1 hover:bg-sky-500;
  }

  /* Sidebar */
  .h-full-minus-nav {
    /* 4rm is based on the header height+margin in include/header.html. */
    /* 3rm is based on the footer height in text-section.html. */
    height: calc(100vh - 3rem - 5rem);
  }

  .x-deva {
    /* TODO: choose a nice typeface. */
  }

  /* Custom elements. */

  .s-chaya {
    @apply px-2 py-0.5 bg-sky-100 rounded;
    @apply border-l-2 border-r-2 border-sky-600;
  }
  s-block {
    @apply block my-4 leading-8;
  }
  s-speaker {
    @apply block font-bold;
  }
  s-stage {
    @apply italic text-slate-500;
  }
  s-trailer {
    @apply block text-center;
  }
  s-sp s-p {
    @apply pl-8;
  }
  s-sp s-lg {
    @apply pl-16;
  }
  s-p {
    @apply block;
  }
  s-sp s-p, s-sp s-lg {
    @apply mt-4;
  }
  /* TEI <lg>, i.e. a Sanskrit verse. */
  s-lg {
    @apply block x-deva leading-normal;
  }
  /* TEI <l>, i.e. a line of Sanskrit verse. */
  s-l {
    @apply block;
  }
  /* Represents a parsed word. */
  s-w {
    @apply text-green-600;
    @apply cursor-pointer;
  }
  s-w:hover {
    @apply underline;
  }

  .prose {
    @apply tw-prose tw-prose-slate;
  }
  .prose h2 {
    @apply serif;
  }
  .prose dt {
    @apply uppercase text-xs font-bold text-slate-400 mb-1;
  }
  .prose dd {
    @apply mb-4;
  }

  /* Custom */
  .a-underline a {
      @apply underline;
  }
  .a-hover-underline a {
      @apply hover:underline;
  }

  /* MW dictionary */
  .dict-entry {max-width: 700px; margin: 0.5em 0;}
  .dict-entry .lex {font-weight: bold; }
  .dict-entry cite {
    @apply text-sm text-slate-400;
  }

  /* Vacaspatyam */
  .dict-entry q {
    @apply text-slate-400;
  }
  .mw-entry [lang=sa] {
    @apply text-green-600;
  }

  /* Classes created by Flask-admin */
  .pagination {
    @apply border rounded my-4;
  }
  .pagination ul { @apply flex; }
  .pagination li.active { @apply font-bold text-white bg-sky-900; }
  .pagination a { @apply py-2 px-4 block hover:bg-slate-200; }

  /* heatmap */
  .heatmap text { @apply text-xs; }
  .heatmap rect.l1 { @apply fill-slate-100; }
  .heatmap rect.l2 { @apply fill-sky-100; }
  .heatmap rect.l3 { @apply fill-sky-200; }
  .heatmap rect.l4 { @apply fill-sky-300; }

  /* ProseMirror editor */
  .prosemirror-editor {
    @apply bg-white;
  }
  .prosemirror-editor .ProseMirror {
    @apply h-full outline-none;
  }

  .prosemirror-editor .ProseMirror p {
    @apply mb-0;
  }

  .prosemirror-editor .ProseMirror-focused {
    outline: none;
  }

  .pm-metadata {
    @apply font-mono;
  }

  .pm-content-dom {
    @apply w-full p-2 border border-slate-200 bg-white rounded font-normal min-h-[3rem] focus:outline-none focus:ring-2 focus:ring-blue-400 whitespace-pre-wrap;
  }
  .pm-check-pass {
    @apply text-[11px] font-medium rounded-full px-2 py-0.5 leading-tight text-green-800 bg-green-100 border border-green-200;
  }
  .pm-check-fail {
    @apply text-[11px] font-medium rounded-full px-2 py-0.5 leading-tight text-red-800 bg-red-50 border border-red-200;
  }
  .pm-html-tag {
    @apply text-xs p-0.5 rounded bg-blue-100 text-blue-800 rounded;
  }

  .pm-html-tag-error {
    @apply text-xs p-0.5 rounded bg-red-600 text-white rounded;
  }

  .pm-break-marker {
    @apply text-black bg-gray-200 font-bold px-0.5 rounded;
  }

  /* Prosemirror mark CSS */
  .pm-error, .pm-fix, .pm-flag, .pm-stage, .pm-speaker, .pm-chaya, .pm-prakrit, .pm-note, .pm-add, .pm-ellipsis, .pm-delete, .pm-quote {
    @apply border-b-2 pr-1;
  }

  .pm-bold {
    font-weight: bold;
  }

  .pm-italic {
    font-style: italic;
  }

  .pm-error {
    @apply bg-red-100 text-red-800 border-red-500;
  }

  .pm-error:before {
    content: "⛔ ";
    @apply text-xs pl-1;
  }

  .pm-fix {
    @apply bg-green-100 text-green-800 border-green-500;
  }

  .pm-fix:before {
    content: "✅ ";
    @apply text-xs pl-1;
  }

  .pm-flag {
    @apply bg-yellow-100 text-yellow-800 border-yellow-500;
  }

  .pm-flag:before {
    content: "? ";
    @apply text-xs pl-1;
  }

  .pm-ref {
    @apply bg-slate-200 rounded pr-1 text-xs;
  }

  .pm-ref:before {
    content: "🦶: ";
    @apply text-xs pl-1;
  }

  .pm-stage {
    @apply bg-purple-100 text-purple-800 border-purple-500;
  }

  .pm-stage:before {
    content: "🎬 ";
    @apply text-xs pl-1;
  }

  .pm-speaker {
    @apply bg-orange-100 text-orange-800 border-orange-500;
  }

  .pm-speaker:before {
    content: "📣 ";
    @apply text-xs pl-1;
  }

  .pm-chaya {
    @apply bg-slate-500 text-white border-slate-600;
  }

  .pm-chaya:before {
    content: "🌒 ";
    @apply text-xs pl-1;
  }

  .pm-prakrit {
    @apply bg-amber-100 border-amber-600;
  }

  .pm-prakrit:before {
    content: "☀️ ";
    @apply text-xs pl-1;
  }

  .pm-note {
    @apply bg-yellow-200 border-yellow-500 italic;
  }

  .pm-note:before {
    content: "📝 ";
    @apply text-xs pl-1;
  }

  .pm-add {
    @apply bg-blue-100 text-blue-800 border-blue-500;
  }

  .pm-add:before {
    content: "+ ";
    @apply text-xs pl-1;
  }

  .pm-ellipsis {
    @apply bg-slate-200 text-slate-600 border-slate-400 italic;
  }

  .pm-ellipsis:before {
    content: "… ";
    @apply text-xs pl-1;
  }

  .pm-delete {
    @apply bg-red-100 text-red-800 border-red-500 line-through;
  }

  .pm-delete:before {
    content: "🗑 ";
    @apply text-xs pl-1;
  }

  .pm-quote {
    @apply bg-teal-100 text-teal-800 border-teal-500;
  }

  .pm-quote:before {
    content: "💬";
    @apply text-xs pl-1;
  }

  /* XML editor */
  .xml-code {
    @apply m-0 p-0 whitespace-pre-wrap break-words;
    font-family: inherit;
  }
}

