@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  ::selection {
    @apply text-white bg-emerald-500;
  }
  body, html {
    /* For sticky footers. */
    @apply h-full;
  }
  mark {
    @apply bg-yellow-200 p-1;
  }
  ins {
    @apply bg-green-200 text-green-700 no-underline;
  }
  del {
    @apply bg-red-200 text-red-700;
  }

  /* Form controls */
  .btn {
    @apply rounded p-2 cursor-pointer;
  }
  .btn-submit {
    @apply bg-slate-600 text-white hover:bg-slate-800;
  }

  /* Sidebar */
  .h-full-minus-nav {
    /* 4rm is based on the header height+margin in include/header.html. */
    /* 3rm is based on the footer height in text-section.html. */
    height: calc(100vh - 3rem - 5rem);
  }

  .x-deva {
    /* TODO: choose a nice typeface. */
  }

  /* Custom elements. */

  /* TEI <lg>, i.e. a Sanskrit verse. */
  s-lg {
    @apply block x-deva leading-normal mb-4;
    @apply cursor-pointer;
  }
  /* TEI <l>, i.e. a line of Sanskrit verse. */
  s-l {
    @apply block;
  }
  /* Represents a parsed word. */
  s-w {
    @apply text-green-600;
    @apply cursor-pointer;
  }
  s-w:hover {
    @apply underline;
  }

  /* Prose context */
  .prose a { @apply underline hover:text-blue-600; }
  .prose dt { @apply font-bold; }
  .prose dd { @apply mb-4; }
  .prose dfn { @apply font-bold not-italic; }
  .prose h1 { @apply font-bold text-2xl md:text-4xl my-4; }
  .prose h2 { @apply font-bold text-xl md:text-2xl my-4; }
  .prose h3 { @apply font-bold my-4 text-slate-600; }
  .prose kbd { @apply bg-slate-100 p-1; }
  .prose p { @apply mb-4; }
  .prose ol { @apply list-decimal pl-8 my-4; }
  .prose ul { @apply list-disc pl-8 my-4; }

  /* Custom */
  .a-hover-underline a {
      @apply hover:underline;
  }

  /* MW dictionary */
  .dict-entry {max-width: 700px; margin: 0.5em 0;}
  .dict-entry .lex {font-weight: bold; }
  .dict-entry cite {
    @apply bg-zinc-100;
    @apply text-zinc-400;
  }

  /* Vacaspatyam */
  .dict-entry q {
    @apply text-zinc-400;
  }
  .mw-entry [lang=sa] {
    @apply text-green-600;
  }
}

