@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  ::selection {
    @apply text-black bg-yellow-300;
  }
  body, html {
    /* For sticky footers. */
    @apply h-full;
  }
  mark {
    @apply bg-yellow-200 p-1;
  }
  ins {
    @apply bg-green-200 text-green-700 no-underline;
  }
  del {
    @apply bg-red-200 text-red-700;
  }

  /* Needed to support the Alpine `x-cloak` attribute. */
  [x-cloak] { display: none !important; }

  /* Theme colors */
  .text-brand { color: #152b48; }
  .bg-brand { background: #152b48; }

  /* Form controls */
  .btn {
    @apply rounded p-2 cursor-pointer select-none;
  }
  .btn-basic {
    @apply bg-slate-100 hover:bg-slate-300;
  }
  .btn-submit {
    @apply bg-brand text-white hover:bg-slate-200 hover:text-black transition;
  }
  ::file-selector-button {
    @apply border-0 p-2 rounded bg-slate-600 text-white cursor-pointer mr-4 hover:bg-black;
  }

  /* Dropdowns (e.g. in proofing editor) */
  .dropdown-pane {
    @apply z-50 bg-white border absolute a-hover-underline;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  .dropdown-item {
    @apply block w-full text-left p-2 hover:bg-slate-100;
  }

  /* Sidebar */
  .h-full-minus-nav {
    /* 4rm is based on the header height+margin in include/header.html. */
    /* 3rm is based on the footer height in text-section.html. */
    height: calc(100vh - 3rem - 5rem);
  }

  .x-deva {
    /* TODO: choose a nice typeface. */
  }

  /* Custom elements. */

  /* TEI <lg>, i.e. a Sanskrit verse. */
  s-lg {
    @apply block x-deva leading-normal mb-4;
    @apply cursor-pointer;
  }
  /* TEI <l>, i.e. a line of Sanskrit verse. */
  s-l {
    @apply block;
  }
  /* Represents a parsed word. */
  s-w {
    @apply text-green-600;
    @apply cursor-pointer;
  }
  s-w:hover {
    @apply underline;
  }

  s-block {
    display: flex;
    flex-wrap: wrap;
  }
  s-block > div {
    @apply hidden;
  }
  s-block > div.mula {
    @apply block;
  }

  /* In place view */
  .in-place s-block.show-parsed > div.mula {
    @apply hidden;
  }
  .in-place s-block.show-parsed > div.parsed {
    @apply block;
  }

  /* Side by side view */
  .side-by-side s-block.show-parsed > div {
    @apply block flex-1 min-w-max; /* At smaller widths, verses will wrap */
  }
  .side-by-side s-block.show-parsed > div.mula > s-lg {
    @apply cursor-auto;
  }
  .side-by-side#text--content {
    @apply md:max-w-3xl;
  }

  .shown-side-by-side {
    @apply hidden;
  }
  .side-by-side .hidden-side-by-side {
    @apply hidden;
  }
  .side-by-side .shown-side-by-side {
    @apply hidden;
  }

  /* Prose context */
  .prose a { @apply text-sky-700 underline hover:text-sky-900; }
  .prose blockquote { @apply border-l pl-4; }
  .prose dt { @apply font-bold; }
  .prose dd { @apply mb-4; }
  .prose dfn { @apply font-bold not-italic; }
  .prose h1 { @apply font-bold text-2xl md:text-4xl my-4; }
  .prose h2 { @apply font-bold text-xl md:text-2xl mt-8 mb-4; }
  .prose h3 { @apply font-bold mt-8 mb-2; }
  .prose kbd { @apply bg-slate-100 p-1; }
  .prose p { @apply mb-4; }
  .prose ol { @apply list-decimal pl-8 my-4; }
  .prose ul { @apply list-disc pl-8 my-4; }

  /* Custom */
  .a-underline a {
      @apply underline;
  }
  .a-hover-underline a {
      @apply hover:underline;
  }

  /* MW dictionary */
  .dict-entry {max-width: 700px; margin: 0.5em 0;}
  .dict-entry .lex {font-weight: bold; }
  .dict-entry cite {
    @apply bg-zinc-100;
    @apply text-zinc-400;
  }

  /* Vacaspatyam */
  .dict-entry q {
    @apply text-zinc-400;
  }
  .mw-entry [lang=sa] {
    @apply text-green-600;
  }

  /* heatmap */
  .heatmap text { @apply text-xs; }
  .heatmap rect.l1 { @apply fill-slate-100; }
  .heatmap rect.l2 { @apply fill-sky-100; }
  .heatmap rect.l3 { @apply fill-sky-200; }
  .heatmap rect.l4 { @apply fill-sky-300; }
}

