{% extends 'base-text.html' %}
{% import "macros/components.html" as m %}


{% macro text_list(key, title) %}
<h2 class="font-bold text-2xl pb-2 mt-12 mb-4 border-b border-slate-200 text-slate-400">{{ title }}</h2>

<ul>
{% for slug in categories[key] if slug in texts %}
  {% set text = texts[slug] %}
  {% set url = url_for('texts.text', slug=text.slug) %}
  <li><a class="py-1 block text-xl hover:underline" href="{{ url }}">
    {{ text.title | devanagari }}
  </a></li>
{% endfor %}
</ul> 
{% endmacro %}


{% block title %}{{ m.title(_('Texts')) }}{% endblock %}


{% block meta_description -%}Our breakthrough library features word-by-word
analysis and integrated dictionary support for a variety of Sanskrit works.
{%- endblock %}


{% block header %}
{{ m.basic_header(_('Texts')) }}
{% endblock %}


{% block main %}

<article class="p-4 md:p-0 max-w-xl mx-auto md:my-24 md:mb-36">
{{ text_list('upanishat', _('Upanishads')) }}
{{ text_list('itihasa', _('Itihasas')) }}
{{ text_list('kavya', _('Kavyas')) }}
{{ text_list('anye', _('Other works')) }}

</article>
{% endblock %}
