{% extends 'base-text.html' %}


{% macro text_list(key, title) %}
<h2 class="font-bold text-2xl py-2 mt-8 mb-4 border-b">{{ title|devanagari }}</h2>

<ul>
{% for slug in categories[key] if slug in texts %}
  {% set text = texts[slug] %}
  {% set url = url_for('texts.text', slug=text.slug) %}
  <li><a class="py-1 block text-xl hover:underline" href="{{ url }}">
    {{ text.title | devanagari }}
  </a></li>
{% endfor %}
</ul> 
{% endmacro %}


{% block title %}Texts | Ambuda{% endblock %}


{% block meta_description -%}Our breakthrough library features word-by-word
analysis and integrated dictionary support for a variety of Sanskrit works.
{%- endblock %}


{% block content %}
<div class="prose">
  <h1>Texts</h1>

  <p>Our main focus right now is on building out the core features of our
  library. Once those features are in place, we will radically increase the
  size and quality of our collection.</p>
</div>

{{ text_list('itihasa', 'itihAsAH') }}
{{ text_list('kavya', 'kAvyAni') }}
{{ text_list('upanishad', 'upaniSadaH') }}
{{ text_list('anye', 'anye granthAH') }}

{% endblock %}
