{% extends 'header-main-footer.html' %}
{% import 'macros/dictionaries.html' as m %}

{# Create prev/next navigation #}
{% macro paginate_link(section, display_text) %}
{% if section %}
  {% set url = url_for('texts.section', text_slug=text.slug, section_slug=section.slug) %}
  <a class="hover:underline p-4" href="{{ url }}">{{ display_text | safe }}</a>
  {% else %}
  <span>&nbsp;</span>
{% endif %}
{% endmacro %}

{# Show site controls (large display only) #}
{% macro control_panel() %}
<div class="text-sm text-zinc-400 mb-4">
  <span class="hidden md:inline">
    <a id="toggle-sidebar"
      class="hover:underline hover:text-black" href="#">Toggle sidebar</a>
    |
  </span>

  Script:
  <select id="switch-sa" class="p-1">
    {% include 'include/script-options.html' %}
  </select>
</div>
{% endmacro %}

{# Show the dictionary/etc sidebar #}
{% macro sidebar() %}
<div id="sidebar" class="hidden md:hidden flex-1 p-2 md:p-8 overflow-y-scroll border-l">
  {{ m.dict_form() }}
  <div style="overflow: scroll;">
    {{ m.dict_target() }}
  </div>

  {% if text.slug == 'ramayanam' %}
  <div id="parse--response" class="text-sm">
    <p class="text-zinc-500">Click on a verse to see its word-for-word
    analysis. (This is an experimental feature, and the analysis might have
    some errors.)</p>
  </div>
  {% endif %}
</div>
{% endmacro %}

{% block title %}{{ text.title | devanagari }} {{ section.title }} | Ambuda{% endblock %}

{% block header %}
<header class="h-12 bg-zinc-100 text-zinc-600 border-b flex justify-between items-center">
  <div class="ml-4">
    <a class="hover:underline" href="{{ url_for('site.index') }}">Ambuda</a> &raquo;
    {% set url = url_for('texts.text', slug=text.slug) %}
    <a class="hover:underline" href="{{ url }}">
      {{ text.title | devanagari }}
    </a> &raquo;
    {{ section.title }}
  </div>
  <div class="flex">
    {{ paginate_link(prev, '&larr;') }}
    {{ paginate_link(next, '&rarr;') }}
  </div>
</header>
{% endblock %}

{% block main %}
{# h-12 (on the header) corresponds to 3rem. #}
<article class="flex" style="height: calc(100vh - 3rem)">
  <div class="flex-1 p-2 md:p-8 overflow-y-scroll">
    {{ control_panel() }}
    <div id="text--content" class="md:text-xl">
      {{ content | safe }}
    </div>
  </div>

  {{ sidebar() }}
</article>

{% endblock %}

{% block footer %}{% endblock %}
