{% extends 'base-text.html' %}
{% import 'macros/texts.html' as m %}


{% macro section_grid(sections) %}
<ul class="grid grid-cols-5 gap-4 my-8 text-center">
{% for (slug, name) in sections %}
  {% set url = url_for('texts.block_permalink', dotted_path=text.slug + '.' + slug) %}
  <li><a class="block hover:underline"
        href="{{ url }}">{{ name | devanagari }}
  </a></li>
{% endfor %}
</ul>
{% endmacro %}


{% block title %}{{ text.title | devanagari }} {{ _('| Ambuda') }}{% endblock %}

{% block content %}
{{ m.text_header(text) }}
{{ m.text_tabs(text=text, active='contents') }}

{% if text.sections|length == 1 %}
  {% set url = url_for("texts.block_permalink", dotted_path=text.slug + '.all') %}
  <p class="text-center mt-16">
    <a class="btn btn-submit p-4" href="{{ url }}">{{ _('Show full text') }}</a>
  </p>
{% else %}
  {% for prefix, sections in section_groups.items() %}
  {%- set title = prefix_titles[prefix] -%}
  {% if title -%}
  <h2 class="font-bold text-xl">{{ prefix_titles[prefix] }}</h2>
  {%- endif %}
  {{ section_grid(sections) }}
  {% endfor %}
{% endif %}

{% if header %}{{ tei_header(header) }}{% endif %}
{% endblock %}
