{% extends 'base-text.html' %}

{% macro tei_header(data) %}
<h2 class="font-bold text-xl my-4">About</h2>
<section class="prose text-slate-400">
<dl>
  <dt>Title</dt> <dd>{{ data.title }}</dd>
  <dt>Author</dt> <dd>{{ data.author }}</dd>
  <dt>Publisher</dt> <dd>{{ data.publisher|safe }}</dd>
  <dt>Availability</dt> <dd>{{ data.availability|safe }}</dd>
</dl>
</section>
{% endmacro %}

{% macro section_grid(sections) %}
<ul class="grid grid-cols-5 md:grid-cols-10 gap-4 my-8 text-center">
{% for s in sections %}
  {% set url = url_for('texts.section', text_slug=text.slug, section_slug=s.slug) %}
  <li><a class="block hover:underline"
        href="{{ url }}">{{ s.title | devanagari }}
  </a></li>
{% endfor %}
</ul>
{% endmacro %}

{% block title %}{{ text.title | devanagari }} | Ambuda{% endblock %}

{% block content %}
<h1 class="text-center font-bold text-4xl x-deva">
    {{ text.title | devanagari }}
</h1>

<h2 class="font-bold text-xl my-4">Contents</h2>
{% for prefix, sections in section_groups.items() %}
{{ section_grid(sections) }}
{% endfor %}

{% if header %}{{ tei_header(header) }}{% endif %}
{% endblock %}
