{% extends 'proofing/base.html' %}
{% import "macros/proofing.html" as m %}
{% import "macros/components.html" as components %}

{% macro button(id, text) %}
<button type="button" id="{{ id }}" class="p-2 hover:bg-slate-300">{{ text|safe }}</button>
{% endmacro %}

{% block title %}Edit: {{ project.title }}/{{ cur.slug }} | Ambuda{% endblock %}

{% block main %}
<article class="p-4">
  {% if not current_user.is_authenticated %}
  {% call components.p_warning() %}
  {% set url = url_for('auth.register') %}
  Since you are not logged in, some functions (such as the OCR button) have
  been disabled. To use all website features, please <a class="underline"
  href="{{ url }}">create an account</a>.
  {% endcall %}
  {% endif %}

  {{ m.page_header(project, cur=cur, prev=prev, next=next) }}

  {{ components.flash_messages() }}

  {% if conflict %}
  <pre class="p-2 bg-slate-100 my-4">{{ conflict.content }}</pre>
  {% endif %}

  {{ m.page_status(cur.status.name) }}

  <form method="POST">
    {{ form.csrf_token }}
    {{ form.version }}

    <div class="flex flex-col-reverse md:flex-row">

      {# Text box #}
      <div class="flex-1 mt-4 md:mt-0 md:mr-4 border">
        <div class="bg-slate-200 flex justify-between">
          <div>
            {{ button("run-ocr", "OCR") }}
          </div>
          <div>
            {{ button("text-increase", "A<sup>+</sup>") }}
            {{ button("text-decrease", "A<sup>-</sup>") }}
          </div>
        </div>
        {{ form.content(class_="p-2 md:p-4 w-full h-[20vh] md:h-[90vh] resize-none") }}
      </div>

      {# Raw image #}
      <div class="flex-1 border bg-slate-100">
        <div class="bg-slate-200">
          {{ button("osd-zoom-in", "&#x1f50d;<sup>+</sup>") }}
          {{ button("osd-home", "&#x1f50d;&#x00b0;") }}
          {{ button("osd-zoom-out", "&#x1f50d;<sup>-</sup>") }}
          {{ button("osd-rotate-left", "&#x27f2;") }}
          {{ button("osd-rotate-right", "&#x27f3;") }}
        </div>

        <div id="osd-image" class="h-[20vh] md:h-[90vh]">
        </div>
      </div>
    </div>
    <div class="p-4 mt-4 bg-slate-200">
      {{ form.summary.label(class_="text-slate-600 mb-2 block") }}
      {{ form.summary(class_="block rounded bg-white w-full mb-4 p-2") }}

      {{ form.status.label(class_="text-slate-600 mb-2 block") }}
      {{ form.status(class_="block rounded bg-white w-full mb-4 p-2") }}

      <input class="btn btn-submit" type="submit" value="Publish changes">
    </div>
  </form>
</article>

<script src="https://cdn.jsdelivr.net/npm/openseadragon@3.1/build/openseadragon/openseadragon.min.js"></script>
{% set image_url = url_for("site.page_image", project_slug=project.slug, page_slug=cur.slug) %}
<script type="text/javascript">
const IMAGE_URL = "{{ image_url }}";
</script>
<script defer src="/static/js/proofreading.js?v=3"></script>
{% endblock %}
