{% extends 'proofing/base.html' %}
{% import "macros/proofing.html" as m %}
{% import "macros/components.html" as site_components %}
{% import "proofing/pages/editor-components.html" as editor %}


{% block title %}Edit: {{ project.title }}/{{ cur.slug }} | Ambuda{% endblock %}


{% block main %}
<article class="p-4">
  {% if not current_user.is_authenticated %}
  {% call site_components.p_warning() %}
  {% set url = url_for('auth.register') %}
  Since you are not logged in, some functions (such as the OCR button) have
  been disabled. To use all website features, please <a class="underline"
  href="{{ url }}">create an account</a>.
  {% endcall %}
  {% endif %}

  {{ editor.navigation_bar(project, cur=cur, prev=prev, next=next) }}
  {{ site_components.flash_messages() }}

  {% if conflict %}
  <pre class="p-2 bg-slate-100 my-4">{{ conflict.content }}</pre>
  {% endif %}

  <form x-data="proofer" method="POST">
    {{ form.csrf_token }}
    {{ form.version }}

    {{ editor.menu_bar() }}
    <div :class="layoutClasses">
      {{ editor.text_box(form.content.data or "") }}
      {{ editor.image_box() }}
    </div>

    <div class="p-4 mt-4 bg-slate-200">
      {{ form.summary.label(class_="text-slate-600 mb-2 block") }}
      {{ form.summary(class_="block rounded bg-white w-full mb-4 p-2") }}

      {{ form.status.label(class_="text-slate-600 mb-2 block") }}
      {{ form.status(class_="block rounded bg-white w-full mb-4 p-2") }}

      {% set cc0 = "https://creativecommons.org/publicdomain/zero/1.0/" %}
      <p class="my-4 text-sm">By saving your changes, you agree to release your
      contribution under the <a class="underline" href="{{ cc0 }}">CC0 (public
      domain) license</a>.</p>
      <input class="btn btn-submit"
             type="submit"
             value="Publish changes"
             @click="hasUnsavedChanges = false">
    </div>
  </form>

</article>

<script src="https://cdn.jsdelivr.net/npm/openseadragon@3.1/build/openseadragon/openseadragon.min.js"></script>
{% set image_url = url_for("site.page_image", project_slug=project.slug, page_slug=cur.slug) %}
<script type="text/javascript">
const IMAGE_URL = "{{ image_url }}";
</script>
<script type="module" src="/static/gen/prosemirror_bundle.js"></script>
{% endblock %}
