{% extends 'header-main-footer.html' %}
{% import "macros/components.html" as mc %}
{% import 'macros/dictionaries.html' as m %}


{% block title %}{{ mc.title(_('Cheda')) }}{% endblock %}


{% macro cheda() %}
<textarea x-model="input" class="block w-full bg-slate-50 border border-slate-100 rounded my-4 p-2"> </textarea>
<input type="submit" class="btn btn-submit" value="Analyse" @click.prevent="analyze" />
<div id="output">
</div>
{% endmacro %}


{% block main %}
<article class="mx-4 md:mx-auto max-w-2xl md:mt-12 mb-24 md:mb-36">
<header>
  <h1 class="text-2xl md:text-4xl font-bold text-slate-300 my-4">
    {{ _('Padaccheda') }}
  </h1>
</header>
<div x-data="cheda">
  {{ cheda() }}
</div>
</article>
{% endblock %}
