{% extends 'proofing/base-sidebar.html' %}
{% import "macros/components.html" as components %}
{% import "macros/proofing.html" as m %}


{% block title %}User: {{ user.username }} | Ambuda{% endblock %}


{% block sidebar %}{{ m.main_nav('talk') }}{% endblock %}


{% block content %}
{{ m.title_and_subtitle(user.username) }}

{{ m.user_tabs(user=user, active='about') }}

{% if user.description %}
<div class="prose border p-4 my-8">
{{ user.description|markdown|safe }}
</div>
{% else %}
<div class="prose">
  {% if current_user.id == user.id %}
  <p>Tell others who you are by writing a short bio!</p>
  {% else %}
  <p>This user hasn't written anything about themselves.</p>
  {% endif %}
</div>
{% endif %}

{% if current_user.username == user.username %}
<a class="btn btn-basic"
    href="{{ url_for('proofing.user.edit', username=user.username) }}">Edit bio</a>
{% endif %}
{% endblock %}

