{# Page title template. #}
{% macro title(text) %}{{ _('%(title)s | Ambuda', title=text) }}{% endmacro %}

{# Small warning box, e.g. for form errors. #}
{% macro p_warning() %}
<p class="p-2 bg-red-100 text-red-900 rounded my-4 a-underline">
  {{ caller() }}
</p>
{% endmacro %}


{# Large warning box, e.g. for form errors. #}
{% macro div_warning() %}
<div class="p-2 md:p-4 bg-red-100 border border-red-200 text-red-900 rounded my-4">
  {{ caller() }}
</div>
{% endmacro %}


{# Small notes box, e.g. for form info messages. #}
{% macro p_note() %}
<p class="p-2 bg-yellow-200 text-yellow-900 rounded my-4">
  {{ caller() }}
</p>
{% endmacro %}


{# Large notes box, e.g. for form info messages. #}
{% macro div_note() %}
<div class="p-2 md:p-4 bg-yellow-200 text-yellow-900 rounded my-4">
  {{ caller() }}
</div>
{% endmacro %}


{# Show messages added with the `flash()` call. #}
{% macro flash_messages() %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
  {% for category, message in messages %}
    {% if category == 'success' %}
      <p class="bg-green-100 my-4 p-2">{{ message }}</p>
    {% else %}
      <p class="bg-red-100 my-4 text-red-900 p-2">{{ message }}</p>
    {% endif %}
  {% endfor %}
{% endif %}
{% endwith %}
{% endmacro %}


{# A list of tabs. #}
{% macro tabs(urls, active) %}
<nav class="border-b mb-8">
  <ul class="flex a-hover-underline">
    {% for name, label, url in urls %}
    {% if name == active %}
    <li class="p-4 font-semibold border-b-2 border-black">{{ label }}</li>
    {% else %}
    <li class="font-semibold border-b-2 border-transparent text-slate-400">
      <a class="block p-4" href="{{ url }}">{{ label }}</a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</nav>
{% endmacro %}


{# A basic header. #}
{% macro basic_header(title) %}
<div class="text-sky-900 bg-sky-50 border-b border-slate-200 mb-4">
  <div class="border-slate-300">
    {% include "include/header.html" %}
  </div>

  <header class="text-center py-16">
    <h1 class="font-bold text-5xl">{{ title }}</h1>
  </header>
</div>
{% endmacro %}
