{% import 'macros/components.html' as components %}


{# Display a title+subtitle pair. #}
{% macro title_and_subtitle(title, subtitle = none) %}
<header class="mb-4">
  <h1 class="font-bold text-4xl">{{ title|safe }}</h1>
  {% if subtitle %}<p class="mt-1 text-lg text-slate-500">{{ subtitle|safe }}</p>{% endif %}
</header>
{% endmacro %}


{% macro project_header_nested(label, project) %}
{% set url = url_for("proofing.project.summary", slug=project.slug) %}
{{ nested_header(label, project.title, url) }}
{% endmacro %}


{% macro nested_header(label, title, url) %}
{% set css = "text-slate-400" %}
<header class="a-hover-underline font-bold text-3xl mb-4">
  <h1>
  {{ _('%(label)s: <a class="%(css)s" href="%(url)s">%(title)s</a>',
    label=label, css=css, url=url, title=title) }}
</h1>
</header>
{% endmacro %}

{# Sidebar link #}
{% macro _link(label, route, text) -%}
{% if active == label %}<li class="font-bold text-black">{% else %}<li>{% endif %}
<a href="{{ url_for(route) }}">{{ text }}</a>
</li>
{%- endmacro %}


{# Sidebar shown on most proofing pages. #}
{% macro main_nav(active, current_user) %}

{% if current_user.is_moderator %}
<nav class="rounded bg-slate-200 text-slate-500 mb-2 p-4 a-hover-underline text-sm">
<h1 class="font-bold">{{ _('Moderation') }}</h1>
<ul class="list-disc pl-6">
  {{ _link('stats', "proofing.dashboard", _("Dashboard")) }}
</ul>
</nav>
{% endif %}

<nav class="rounded bg-slate-100 text-slate-500 p-4 a-hover-underline text-sm">
<h1 class="font-bold">{{ _('Help') }}</h1>
<ul class="list-disc pl-6">
  {{ _link('beginners', "proofing.beginners_guide", _("Beginner's guide")) }}
  {{ _link('complete', "proofing.complete_guide", _("Complete guide")) }}
  {{ _link('manual', "proofing.editor_guide", _("Editor manual")) }}
</ul>

<h1 class="mt-2 font-bold">{{ _('Contribute') }}</h1>
<ul class="list-disc pl-6">
  {{ _link('projects', "proofing.index", _("Ongoing projects")) }}
  {{ _link('create', "proofing.create_project", _("Create project")) }}
  {{ _link('changes', "proofing.recent_changes", _("Recent changes")) }}
  {{ _link('tagging', "proofing.tagging.index", _("Tagging")) }}
  {{ _link('talk', "proofing.talk", _("Talk")) }}
</ul>
</nav>
{% endmacro %}


{# Project-level tabs. #}
{% macro project_nav(project, active, is_mod = false) %}
{% set routes = [
  ("summary",  _("Summary"),   url_for("proofing.project.summary", slug=project.slug)),
  ("activity", _("Activity"),  url_for("proofing.project.activity", slug=project.slug)),
  ("talk",     _("Talk"),      url_for("proofing.talk.board", slug=project.slug)),
  ("edit",     _("Edit"),      url_for("proofing.project.edit", slug=project.slug)),
  ("download", _("Download"),  url_for("proofing.project.download", slug=project.slug)),
] %}
{% if is_mod %}{% set routes = routes + [
  ("admin",    _("Admin"),     url_for("proofing.project.admin", slug=project.slug)),
] %}{% endif %}

{{ components.tabs(routes, active) }}
{% endmacro %}


{# User-level tabs. #}
{% macro user_tabs(user, active, is_mod = false) %}
{% set routes = [
  ("about",    _("Overview"),  url_for("proofing.user.summary", username=user.username)),
  ("activity", _("Activity"),  url_for("proofing.user.activity", username=user.username)),
] %}
{% if is_mod %}{% set routes = routes + [
  ("admin",    _("Admin"),     url_for("proofing.user.admin", username=user.username)),
] %}{% endif %}

{{ components.tabs(routes, active) }}
{% endmacro %}


{% macro _page_nav_link(project, page, full_text, short_text) %}
{% set url = url_for('proofing.page.edit', project_slug=project.slug, page_slug=page.slug) %}
<a href="{{ url }}">
  <span class="hidden md:inline">{{ full_text|safe }}</span>
  <span class="inline md:hidden">{{ short_text|safe }}</span>
</a>
{% endmacro %}


{% macro page_header(project, cur, prev, next) %}
<div class="a-hover-underline flex justify-between items-center my-4">
  <div>
    <h1 class="text-3xl">
      <a class="text-slate-400 font-bold"
          href="{{ url_for("proofing.project.summary", slug=project.slug) }}">
         {{ project.title }}</a>
      /{{ cur.slug }}
    </h1>

    {% set edit_url = url_for("proofing.page.edit", project_slug=project.slug, page_slug=cur.slug) %}
    {% set history_url = url_for("proofing.page.history", project_slug=project.slug, page_slug=cur.slug) %}
    <nav class="text-slate-500 text-sm">
      <a href="{{ edit_url }}">Edit</a> |
      <a href="{{ history_url }}">History</a>
    </nav>
  </div>
  <p>
    {{ _page_nav_link(project, prev, "&larr; Previous", "&larr;") }} |
    {{ _page_nav_link(project, next, "Next &rarr;", "&rarr;") }}
  </p>
</div>
{% endmacro %}


{# A revision in an activity log. #}
{% macro revision_li(r) %}
<li class="my-2">
  {% set revision_url = url_for('proofing.page.revision',
      project_slug=r.project.slug, page_slug=r.page.slug, revision_id=r.id) %}
  {% set page_url = url_for('proofing.page.edit',
      project_slug=r.project.slug, page_slug=r.page.slug) %}
  {% set author_url = url_for('proofing.user.summary',
      username=r.author.username) %}
  {% set page_title = r.project.title + "/" + r.page.slug %}
  {% set author = r.author.username %}

  <span class="{{ revision_colors(r.status.name) }} inline-block w-2 h-2 mr-0.5 rounded-sm"></span>
  <a class="text-slate-400 text-sm p-0.5 rounded"
      href="{{ revision_url }}">{{ r.created.strftime("%Y-%m-%d %H:%M") }}</a>
  {{ _('<a href="%(page_url)s">%(page_title)s</a> by <a href="%(author_url)s">%(author)s</a>',
    page_url=page_url, page_title=page_title, author_url=author_url, author=author) }}
  {% if r.summary %}<i>({{ r.summary }})</i>{% endif %}
</li>
{% endmacro %}


{# A project in an activity log #}
{% macro project_li(p) %}
<li class="my-2 flex justify-between">
  {% set project_url = url_for('proofing.project.summary', slug=p.slug) %}
  {% set title = p.title %}
  {% set creator = p.creator.username %}
  {% set creator_url = url_for('proofing.user.summary', username=creator) %}
  <div>
    <span class="border border-slate-500 inline-block w-2 h-2 mr-0.5 rounded-sm"></span>
    <a class="text-slate-400 text-sm p-0.5 rounded"
        href="{{ project_url }}">{{ p.created_at.strftime("%Y-%m-%d %H:%M") }}</a>
    {{ _('%(title)s created by <a href="%(creator_url)s">%(creator)s</a>',
        title=title, creator_url=creator_url, creator=creator) }}
</li>
{% endmacro %}


{# List the given revisions. Revisions might correspond to multiple projects. #}
{% macro revision_list(revisions) %}
<ul class="a-hover-underline">
  {% for r in revisions -%}
    {{ revision_li(r) }}
  {%- endfor %}
</ul>
{% endmacro %}


{# List the revisions for some page. #}
{% macro page_revision_list(revisions) %}
<ul class="a-hover-underline">
  {% for r in revisions %}
  <li class="my-2">
    {% set revision_url = url_for('proofing.page.revision',
        project_slug=r.project.slug, page_slug=r.page.slug, revision_id=r.id) %}
    {% set page_url = url_for('proofing.page.edit',
        project_slug=r.project.slug, page_slug=r.page.slug) %}
    {% set author_url = url_for('proofing.user.summary',
        username=r.author.username) %}
    {% set page_title = r.project.title + "/" + r.page.slug %}
    {% set author = r.author.username %}

    <span class="{{ revision_colors(r.status.name) }} inline-block w-2 h-2 mr-0.5 rounded-full"></span>
    <a class="text-slate-400 text-sm"
        href="{{ revision_url }}">{{ r.created.strftime("%Y-%m-%d %H:%M") }}</a>
    by <a href="{{ author_url }}">{{ author }}</a>
    {% if r.summary %}<i>({{ r.summary }})</i>{% endif %}
  </li>
  {% endfor %}
</ul>
{% endmacro %}


{# CSS for each revision status. #}
{% macro revision_colors(status) %}
{% if status == 'reviewed-0' %}
bg-red-200 text-red-800
{% elif status == 'reviewed-1' %}
bg-yellow-200 text-yellow-800
{% elif status == 'reviewed-2' %}
bg-green-200 text-green-800
{% elif status == 'skip' %}
bg-gray-200 text-gray-800
{% endif %}
{% endmacro %}


{# Displays the page's revision status as a human-readable banner. #}
{% macro page_status(status) %}
{% if status == 'reviewed-0' %}
<p class="p-2 my-4 {{ revision_colors(status) }}">This page has not been fully proofread.</p>
{% elif status == 'reviewed-1' %}
<p class="p-2 my-4 {{ revision_colors(status) }}">This page has been fully proofread once and needs a second look.</p>
{% elif status == 'reviewed-2' %}
<p class="p-2 my-4 {{ revision_colors(status) }}">This page has been fully proofread twice.</p>
{% elif status == 'skip' %}
<p class="p-2 my-4 {{ revision_colors(status) }}">This page does not need to be proofread.</p>
{% endif %}
{% endmacro %}

