{% import 'macros/components.html' as components %}

{% macro project_header_nested(label, project) %}
{% set url = url_for("proofing.projects.summary", slug=project.slug) %}
{{ nested_header(label, project.title, url) }}
{% endmacro %}

{% macro nested_header(label, title, url) %}
<header class="a-hover-underline font-bold text-3xl my-4">
  <h1>{{ label }}: <a class="text-slate-400" href="{{ url }}">{{ title }}</a></h1>
</header>
{% endmacro %}


{# Project-level tabs. #}
{% macro project_nav(project, active, is_admin = false) %}
{% set routes = [
  ("summary",  "Summary",  url_for("proofing.projects.summary", slug=project.slug)),
  ("talk",     "Talk",     url_for("proofing.talk.board", slug=project.slug)),
  ("edit",     "Edit",     url_for("proofing.projects.edit", slug=project.slug)),
  ("download", "Download", url_for("proofing.projects.download", slug=project.slug)),
] %}
{% if is_admin %}{% set routes = routes + [
  ("admin",    "Admin",    url_for("proofing.projects.admin", slug=project.slug)),
] %}{% endif %}

{{ components.tabs(routes, active) }}
{% endmacro %}


{# User-level tabs. #}
{% macro user_tabs(user, active, is_admin = false) %}
{% set routes = [
  ("about", "About", url_for("proofing.users.user", username=user.username)),
  ("edits", "Edits", url_for("proofing.users.user_edits", username=user.username)),
] %}
{% if is_admin %}{% set routes = routes + [
  ("admin", "Admin", url_for("proofing.users.admin", username=user.username)),
] %}{% endif %}

{{ components.tabs(routes, active) }}
{% endmacro %}


{% macro _page_nav_link(project, page, full_text, short_text) %}
{% set url = url_for('proofing.pages.edit', project_slug=project.slug, page_slug=page.slug) %}
<a href="{{ url }}">
  <span class="hidden md:inline">{{ full_text|safe }}</span>
  <span class="inline md:hidden">{{ short_text|safe }}</span>
</a>
{% endmacro %}

{% macro page_header(project, cur, prev, next) %}
<div class="a-hover-underline flex justify-between items-center my-4">
  <div>
    <h1 class="text-3xl">
      <a class="text-slate-400 font-bold"
          href="{{ url_for("proofing.projects.summary", slug=project.slug) }}">
         {{ project.title }}</a>
      /{{ cur.slug }}
    </h1>

    {% set edit_url = url_for("proofing.pages.edit", project_slug=project.slug, page_slug=cur.slug) %}
    {% set history_url = url_for("proofing.pages.history", project_slug=project.slug, page_slug=cur.slug) %}
    <nav class="text-slate-500 text-sm">
      <a href="{{ edit_url }}">Edit</a> |
      <a href="{{ history_url }}">History</a>
    </nav>
  </div>
  <p>
    {{ _page_nav_link(project, prev, "&larr; Previous", "&larr;") }} |
    {{ _page_nav_link(project, next, "Next &rarr;", "&rarr;") }}
  </p>
</div>
{% endmacro %}

{# List the given revisions. Revisions might correspond to multiple pages. #}
{% macro revision_list(revisions) %}
<ul class="a-hover-underline">
  {% for r in revisions %}
  <li class="my-2">
    {% set revision_url = url_for('proofing.pages.revision',
        project_slug=r.project.slug, page_slug=r.page.slug, revision_id=r.id) %}
    {% set page_url = url_for('proofing.pages.edit',
        project_slug=r.project.slug, page_slug=r.page.slug) %}
    {% set author_url = url_for('proofing.users.user',
        username=r.author.username) %}
    {% set page_title = r.project.title + "/" + r.page.slug %}
    {% set author = r.author.username %}

    <span class="{{ revision_colors(r.status.name) }} inline-block w-2 h-2 mr-0.5 rounded-full"></span>
    <a class="text-slate-400 text-sm p-0.5 rounded"
        href="{{ revision_url }}">{{ r.created.strftime("%Y-%m-%d %H:%M") }}</a>
    <a href="{{ page_url }}">{{ page_title }}</a>
    by <a href="{{ author_url }}">{{ author }}</a>
    {% if r.summary %}<i>({{ r.summary }})</i>{% endif %}
  </li>
  {% endfor %}
</ul>
{% endmacro %}

{# List the revisions for some page. #}
{% macro page_revision_list(revisions) %}
<ul class="a-hover-underline">
  {% for r in revisions %}
  <li class="my-2">
    {% set revision_url = url_for('proofing.pages.revision',
        project_slug=r.project.slug, page_slug=r.page.slug, revision_id=r.id) %}
    {% set page_url = url_for('proofing.pages.edit',
        project_slug=r.project.slug, page_slug=r.page.slug) %}
    {% set author_url = url_for('proofing.users.user',
        username=r.author.username) %}
    {% set page_title = r.project.title + "/" + r.page.slug %}
    {% set author = r.author.username %}

    <span class="{{ revision_colors(r.status.name) }} inline-block w-2 h-2 mr-0.5 rounded-full"></span>
    <a class="text-slate-400 text-sm"
        href="{{ revision_url }}">{{ r.created.strftime("%Y-%m-%d %H:%M") }}</a>
    by <a href="{{ author_url }}">{{ author }}</a>
    {% if r.summary %}<i>({{ r.summary }})</i>{% endif %}
  </li>
  {% endfor %}
</ul>
{% endmacro %}

{# CSS for each revision status. #}
{% macro revision_colors(status) %}
{% if status == 'reviewed-0' %}
bg-red-200 text-red-800
{% elif status == 'reviewed-1' %}
bg-yellow-200 text-yellow-800
{% elif status == 'reviewed-2' %}
bg-green-200 text-green-800
{% elif status == 'skip' %}
bg-gray-200 text-gray-800
{% endif %}
{% endmacro %}

{# Displays the page's revision status as a human-readable banner. #}
{% macro page_status(status) %}
{% if status == 'reviewed-0' %}
<p class="p-2 my-4 {{ revision_colors(status) }}">This page has not been fully proofread.</p>
{% elif status == 'reviewed-1' %}
<p class="p-2 my-4 {{ revision_colors(status) }}">This page has been fully proofread once and needs a second look.</p>
{% elif status == 'reviewed-2' %}
<p class="p-2 my-4 {{ revision_colors(status) }}">This page has been fully proofread twice.</p>
{% elif status == 'skip' %}
<p class="p-2 my-4 {{ revision_colors(status) }}">This page does not need to be proofread.</p>
{% endif %}
{% endmacro %}

