{% extends 'base-auth-form.html' %}
{% import "macros/forms.html" as mf %}


{% block title %}Change {{ current_user.username }}'s password | Ambuda{% endblock %}

{% block content %}
<h1 class="text-3xl text-center mb-4">Change {{ current_user.username }}'s password</h1>

{{ mf.show_errors_if_any(form.errors) }}

<form method="POST" class="bg-slate-100 p-4 rounded">
  {{ form.csrf_token }}
  {{ mf.auth_field(form.old_password) }}
  {{ mf.auth_field(form.new_password) }}

  <input type="submit" class="btn btn-submit w-full" value="Sign in">
</form>
{% endblock %}

