{% extends 'base-auth-form.html' %}
{% import "macros/forms.html" as mf %}


{% block title %}Recover | Ambuda{% endblock %}


{% set discord = "https://discord.gg/7rGdTyWY7Z" %}
{% block content %}
{{ mf.show_errors_if_any(form.errors) }}

{% if hashed %}
<div class="prose">
<p>Your password hash is:</p>

<p class="font-mono break-words">{{ hashed }}</p>

<p>Send this hash to <kbd>Arun Prasad</kbd> on the <a href="{{ discord }}">
Ambuda Discord server</a> by private message.</p>
{% else %}

<form method="POST" class="bg-white rounded p-8">
  <h1 class="text-2xl font-bold text-center mb-8">Recover your Ambuda account</h1>

  {{ form.csrf_token }}
  <p class="my-4">Enter your new password here:</p>
  {{ form.password(class_="w-full p-2 mt-2 mb-4 border rounded") }}

  <input type="submit" class="btn btn-submit w-full" value="Sign in">
</form>
{% endif %}
{% endblock %}

