{% extends 'base-auth-form.html' %}
{% import "macros/forms.html" as mf %}


{% block title %}Recover | Ambuda{% endblock %}


{% set discord = "https://discord.gg/7rGdTyWY7Z" %}
{% block content %}
{{ mf.show_errors_if_any(form.errors) }}

{% if hashed %}
<div class="prose">
<p>Your password hash is:</p>

<p class="font-mono break-words">{{ hashed }}</p>

<p>Send this hash to <kbd>Arun Prasad</kbd> on the <a href="{{ discord }}">
Ambuda Discord server</a> by private message.</p>
{% else %}

<div class="bg-white rounded p-8">
  <h1 class="text-2xl font-bold text-center mb-8">Reset your password</h1>

  <p class="my-4">Enter the email address that you used when you signed up for
  Ambuda. We'll send you an email with a password reset link.</p>

  <form method="POST">
    {{ form.csrf_token }}
    {{ form.email(class_="w-full p-2 mt-2 mb-4 border rounded", placeholder="Enter your email address") }}
    <div class="mb-4">
    {{ form.recaptcha }}
    </div>

    <input type="submit" class="btn btn-submit w-full" value="Send password reset email">
  </form>
</div>
{% endif %}
{% endblock %}

