{% extends 'base-auth-form.html' %}
{% import "macros/components.html" as components %}
{% import "macros/forms.html" as mf %}


{% block title %}Register | Ambuda{% endblock %}

{% block content %}
<h1 class="text-3xl text-center mb-4">Register for Ambuda</h1>

{{ mf.show_errors_if_any(form.errors) }}

<form method="POST" class="bg-slate-100 p-4 rounded">
  {{ form.csrf_token }}
  {{ form.username.label(class_="block text-slate-600") }}
  {{ form.username(class_="w-full p-2 mt-2 mb-4 border rounded") }}

  {{ form.password.label(class_="block text-slate-600") }}
  {{ form.password(class_="w-full p-2 mt-2 mb-4 border rounded") }}

  {{ form.email.label(class_="block text-slate-600") }}
  {{ form.email(class_="w-full p-2 mt-2 mb-4 border rounded") }}

  <div class="mb-4">
  {{ form.recaptcha }}
  </div>

  <input type="submit" class="btn btn-submit w-full" value="Sign in">
</form>
{% endblock %}
