{% extends 'base-auth-form.html' %}
{% import "macros/components.html" as components %}
{% import "macros/forms.html" as mf %}


{% block title %}Reset your password | Ambuda{% endblock %}


{% set discord = "https://discord.gg/7rGdTyWY7Z" %}
{% block content %}
{{ mf.show_errors_if_any(form.errors) }}
{{ components.flash_messages() }}

<div class="bg-white rounded p-8">
  <h1 class="text-2xl font-bold text-center mb-8">Reset your password</h1>

  <p class="my-4">Enter the email address that you used when you signed up for
  Ambuda. We'll send you an email with a password reset link.</p>

  <form method="POST">
    {{ form.csrf_token }}
    {{ form.email(class_="w-full p-2 mt-2 mb-4 border rounded", placeholder="Enter your email address") }}
    <div class="mb-4">
    {{ form.recaptcha }}
    </div>

    <input type="submit" class="btn btn-submit w-full" value="Send password reset email">
  </form>
</div>
{% endblock %}

