{% extends 'base-auth-form.html' %}
{% import "macros/components.html" as components %}
{% import "macros/forms.html" as mf %}


{% block title %}Recover | Ambuda{% endblock %}


{% set discord = "https://discord.gg/7rGdTyWY7Z" %}
{% block content %}
<div class="bg-white rounded p-8">
  <h1 class="text-2xl font-bold text-center mb-8">Reset successful</h1>
  <p class="my-4">{% trans %}
    We've sent a recovery email to <kbd>{{ email }}</kbd>. Check your email for
    a link to reset your password. If it doesn’t appear within a few minutes,
    check your spam folder.
  {% endtrans %}</p>
</div>
{% endblock %}

