{% extends 'base-auth-form.html' %}
{% import "macros/forms.html" as mf %}


{% block title %}Change password for {{ username }}{% endblock %}

{% block content %}

{{ mf.show_errors_if_any(form.errors) }}

<form method="POST" class="bg-white rounded p-8">
  <h1 class="text-2xl font-bold text-center mb-8">Change password for {{ username }}</h1>
  {{ form.csrf_token }}
  {{ mf.auth_field(form.password) }}
  {{ mf.auth_field(form.confirm_password) }}

  <input type="submit" class="btn btn-submit w-full" value="Sign in">
</form>
{% endblock %}

