{% extends 'base-auth-form.html' %}

{% block title %}Login | Ambuda{% endblock %}

{% block content %}
<h1 class="text-3xl text-center mb-4">Sign in to Ambuda</h1>

{% if form.errors %}
<div class="prose p-2 bg-red-100 mb-4">
  <ul>
  {% for k, v in form.errors.items() %}
    <li>{{ v[0] }}</li>
  {% endfor %}
  </ul>
</div>
{% endif %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="prose p-2 bg-red-100 mb-4">
  {% for message in messages %}
  <p class="bg-green-100 my-4 p-2">{{ message }}</p>
  {% endfor %}
</div>
{% endif %}
{% endwith %}


<form method="POST" class="bg-slate-100 p-4 rounded">
  {{ form.csrf_token }}
  {{ form.username.label(class_="block text-slate-600") }}
  {{ form.username(class_="w-full p-2 mt-2 mb-4 border rounded") }}
  {{ form.password.label(class_="block text-slate-600") }}
  {{ form.password(class_="w-full p-2 mt-2 mb-4 border rounded") }}

  <input type="submit" class="btn btn-submit w-full" value="Sign in">
</form>

<p class="text-center text-md mt-4 a-hover-underline text-slate-600">
  <a href="{{ url_for('auth.register') }}">Don't have an account? Click here to register.</a>
</p>
{% endblock %}
