{% extends 'base-auth-form.html' %}
{% import "macros/components.html" as components %}
{% import "macros/forms.html" as mf %}


{% block title %}Sign in | Ambuda{% endblock %}


{% set forgot = url_for('auth.reset_password') %}
{% block content %}

{{ mf.show_errors_if_any(form.errors) }}
{{ components.flash_messages() }}

<form method="POST" class="bg-white rounded p-8">
  <h1 class="text-2xl font-bold text-center mb-8">Sign in to Ambuda</h1>

  {{ form.csrf_token }}
  {{ form.username.label(class_="block text-slate-600") }}
  {{ form.username(class_="w-full p-2 mt-2 mb-4 border rounded") }}
  <div class="flex justify-between items-center">
  {{ form.password.label(class_="block text-slate-600") }}
  <a class="hover:underline font-bold text-sm text-slate-500" href="{{ forgot }}">Forgot password?</a>
  </div>
  {{ form.password(class_="w-full p-2 mt-2 mb-4 border rounded") }}

  <input type="submit" class="btn text-white bg-brand w-full" value="Sign in">
</form>

<p class="text-center text-md mt-4 a-hover-underline text-slate-600">
  <a href="{{ url_for('auth.register') }}">Don't have an account? Click here to register.</a>
</p>
{% endblock %}
