{% extends 'site/base-donate.html' %}


{% block header %}
<h1 class="text-3xl sm:text-4xl lg:text-5xl font-bold">{{ _('Thank you!') }}</h1>
<div class="mx-auto text-lg max-w-xl">
  <p class="my-4">{{ _('Please include the title of your book in your donation comment.') }}</p>
</div>

{# Width matches the width of the donorbox #}
<ul class="mx-auto font-bold w-[425px] text-2xl p-4 rounded my-8 bg-yellow-100
    border border-yellow-300 text-yellow-900 text-center">
  <li class="mb-4">{{ title }}</li>
  <li>₹{{ cost }}</li>
</ul>
{% endblock %}
