{% extends 'blog/base.html' %}
{% import 'macros/components.html' as mc %}
{% import 'macros/forms.html' as mf %}


{% block title %}{{ mc.title('Edit post: {}'.format(post.title)) }}{% endblock %}


{% block content %}
<div class="prose">
  <h1>Edit post: "{{ post.title }}"</h1>
</div>

<form action="" method="POST" class="bg-slate-100 p-4">

{{ form.csrf_token }}
{{ mf.field(form.title) }}
{{ mf.markdown_field(form.content) }}
{{ mf.field(form.slug) }}

<div class="mt-4">
  <input class="btn btn-submit" type="submit" value="Save changes">
</div>
</form>

{% endblock %}

