{% extends 'blog/base.html' %}
{% import "macros/components.html" as m %}


{% set mailing_url = 'https://groups.google.com/g/ambuda-announce' %}


{% block title %}{{ m.title(_('Blog')) }}{% endblock %}


{% block preamble %}
{{ m.flash_messages() }}

<p class="text-center mt-12 mb-8 text-slate-600 a-underline">{% trans %}
Follow our blog for project updates, volunteer opportunities, and other news
about Ambuda.<br>For major updates, please <a href="{{ mailing_url }}">subscribe
to our mailing list</a>.
{% endtrans %}</p>
{% endblock %}


{% block content %}
<div class="mt-8">
{% for post in posts %}
<section class="border-t border-slate-300 py-8">
  <header class="mb-2">
    <h1 class="font-bold text-3xl serif">
      <a class="hover:underline" href="{{ url_for('blog.post', slug=post.slug) }}">
        {{ post.title }}
      </a>
    </h1>
    <p class="text-slate-500 text-xs">{{ post.created_at|time_ago }}</p>
  </header>

  <div class="prose">
    {{ post.content|markdown|safe }}
  </div>
</section>
{% endfor %}
</div>
{% endblock %}
