{% extends 'admin/master.html' %}
{% import 'admin/lib.html' as lib with context %}
{% import 'admin/static.html' as admin_static with context%}
{% import 'admin/model/layout.html' as model_layout with context %}
{% import 'admin/actions.html' as actionlib with context %}
{% import 'admin/model/row_actions.html' as row_actions with context %}

{% block head %}
  {{ super() }}
  {{ lib.form_css() }}
{% endblock %}

{% block body %}

  <nav class="rounded border my-4 a-hover-underline">
    <ul class="flex items-center">
      <li class="p-2">{{ count }} row(s)</li>
      {% if admin_view.can_create %}
      <li><a class="block p-2 ml-2 border-l border-slate-300"
              href="{{ get_url('.create_view') }}">Create</a></li>
      {% endif %}
    </ul>
  </nav>

  <table class="w-full border">
    <thead class="cf border-b bg-slate-100 text-slate-700 text-sm uppercase">
      <tr>
        <th></th>
        {% for c, name in list_columns %}
          <th class="p-2 text-left">{{ name }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in data %}
        <tr>
          {% set row_id = get_pk_value(row) %}
          {% set edit_url = get_url(".edit_view", id=row_id) %}
          <td class="text-center text-lg text-slate-400">
            <a href="{{ edit_url }}" class="hover:bg-slate-100">&#x270E;</a>
          </td>
        {% for c, name in list_columns %}
          <td class="p-2">{{ row[c] }}</td>
        {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
