{# The dictionaries we expose through the Padmini interface. #}
{% set dictionaries = {
  "en": [
    ("apte", _("Apte (1890)")),
    ("mw", _('Monier-Williams (1899)')),
    ("shabdasagara", _('Shabdasagara (1900)')),
  ],
  "sa": [
    ("vacaspatyam", _('Vācaspatyam (1873)')),
    ("shabdakalpadruma", _('Śabdakalpadrumaḥ (1886)')),
  ],
  "koshas": [
    ("amara", _("Amarakosha")),
  ],
  "hi": [
    ("apte-sh", _("Apte Sanskrit-Hindi Kosh (1966)")),
  ],
  "kn": [
    ("shabdartha-kaustubha", _('Shabdarthakaustubha')),
  ],
} %}


{# The dictionaries we expose through the Padmini interface. #}
{% set dictionary_titles = {
    "apte": _("Apte (1890)"),
    "mw": _('Monier-Williams (1899)'),
    "shabdasagara": _('Shabdasagara (1900)'),
    "vacaspatyam": _('Vācaspatyam (1873)'),
    "shabdakalpadruma": _('Śabdakalpadrumaḥ (1886)'),
    "amara": _("Amarakosha"),
    "apte-sh": _("Apte Sanskrit-Hindi Kosh (1966)"),
    "shabdartha-kaustubha": _('Shabdarthakaustubha'),
} %}
