{% extends 'header-main-footer.html' %}
{% import "macros/components.html" as mc %}
{% import "padmini/macros.html" as m %}
{% from "padmini/x-settings-modal.html" import settings_modal %}


{% block title %}{{ mc.title(_('Padmini')) }}{% endblock %}


{% block meta_description -%}
Our fast and simple dictionary tool supports six popular dictionaries in three
different languages.
{%- endblock %}


{% macro query_form() %}
<form class="my-4" @submit.prevent="runQuery">
  <div class="flex mb-2 drop-shadow-sm">
    {{ m.query_field(model="query") }}
    {{ m.query_button() }}
  </div>

  <div class="text-sm text-slate-600 mt-6 text-center">
    <label>Output:</label>
    <select
        class="f-select mr-4 py-2"
        x-model="outputScript"
        @change="updateScript">
      {% include "include/script-options.html" %}
    </select>

    {{ m.settings_button() }}
  </div>
</form>
{% endmacro %}


{% macro ex(text) -%}
{%- set dev = text|d -%}
<a href="{{ url_for('padmini.search', query=dev) }}">{{ dev }}</a>
{%- endmacro %}


{% macro help_text() %}
<div class="prose text-sm">
  <p><span class="font-bold">Padmini</span> is a smart Sanskrit dictionary. To
  see what Padmini can do, try some of the examples below:
  </p>

  <ul>
    <li>{{ ex("bhU") }}, {{ ex("udbhavati") }}, {{ ex("paribhavantam") }}, {{ ex("sambabhUva") }}</li>
    <li>{{ ex("deva") }}, {{ ex("devasya") }}, {{ ex("devadAnavagandharvAH") }}</li>
    <li>{{ ex("luptapiNDodakakriyAH") }}</li>
    <li>{{ ex("tapaHsvAdhyAyanirataM tapasvI vAgvidAM varam | nAradaM paripapraccha vAlmIkirmunipuGgavam ||") }}</li>
  </ul>
</div>
{% endmacro %}


{% block main %}
<article class="mx-4 md:mx-auto max-w-2xl mt-12 md:mt-24 mb-24 md:mb-36">
<header>
  <h1 class="text-4xl text-center md:text-7xl font-bold text-slate-700 mb-8">
    {{ "padminI"|d }}
  </h1>
</header>
<div x-data="padmini">
  {{ query_form() }}
  {{ settings_modal() }}

  <div class="mt-24">
    {{ help_text() }}
  </div>
</div>
</article>
{% endblock %}
