{% extends 'proofing/base-sidebar.html' %}
{% import "macros/components.html" as components %}
{% import "macros/proofing.html" as m %}


{% set contents = {
  'how-to-find-a-project': 'How to find a project to work on',
  'how-to-proof': 'How to proof a page',
  'guidelines': 'Proofing guidelines',
  'faq': 'Frequently asked questions',
} %}

{% macro _h(anchor) %}
<h2 id="{{ anchor }}">{{ contents[anchor] }}</h2>
{% endmacro %}

{% macro _table_of_contents(contents) %}
<ul>
  {% for anchor, title in contents.items() %}
  <li><a href="#{{ anchor }}">{{ title }}</a></li>
  {% endfor %}
</ul>
{% endmacro %}


{% block title %}Beginner's guide to proofing | Ambuda{% endblock %}


{% block sidebar %}{{ m.main_nav('beginners') }}{% endblock %}


{% block content %}
<div class="prose">
<h1>Beginner's guide to proofing</h1>

<p><dfn>Proofing</dfn>, short for "proofreading," is when people like you create
high-quality Sanskrit text that everyone can use and enjoy. All of our proofing
projects are based on scans of physical books.

{{ _table_of_contents(contents) }}


{{ _h('how-to-find-a-project') }}

{% set index = url_for('proofing.index') %}
{% set create = url_for('proofing.create_project') %}
<p>You can see all of our active projects on our <a href="{{ index }}">main
    page</a>. Each of these projects has a progress bar that shows the status of
each of its pages:

<ul>
  <li><p><dfn class="p-0.5 bg-gray-200">gray</dfn> means that the page is not
      relevant to the main text. Gray pages include blank pages, copyright
      pages, and so on.</li>

  <li><p><dfn class="p-0.5 bg-red-200">red</dfn> means that nobody has
      fully proofread the page.</li>

  <li><p><dfn class="p-0.5 bg-yellow-200">yellow</dfn> means that one person
      has fully proofread the page and that the page is ready for a second
      proofreader to review it.</li>

  <li><p><dfn class="p-0.5 bg-green-200">green</dfn> means that two people have
      fully proofread the page. We recommend that you check some of our green
      pages to get a sense of what kinds of results we're aiming for.</li>
</ul>

<p>If you don't see a book you want to work on, you can <a href="{{ create
    }}">create a new project</a> instead. We are open to any book that is
in the public domain and related to Sanskrit in some way. But to avoid wasting
effort, please also search online to see if your book has already been digitized.


{{ _h('how-to-proof') }}

<p>Once you find an interesting project, you can start proofing one of its
pages. We recommend starting with a <span class="p-0.5 bg-red-200
    font-bold">red</span> page, since these pages need the most work.

<p>Our page editor shows a basic side-by-side view:

<p class="bg-red-300 p-2">Image coming soon</p>

<p>The right side has the original page, and the left side has a text box where
you can type your changes. The left side also has an <span class="p-1
    bg-slate-100">OCR</span> button that automatically transcribes a page.

<p>Your goal is to match the text in the original scan as accurately as
possible. We strongly recommend running OCR first then fixing its mistakes by
hand.

<p>When you're ready to save your changes, you can use the form at the bottom
of the page editor:

<p class="bg-red-300 p-2">Image coming soon</p>

<p>If your change is complex, feel free to write a short message about what
changes you made. Otherwise, you can leave this blank.

<p>More importantly, you can change the page's status so that other proofreaders
know what work still needs to be done on the page.


{{ _h('guidelines') }}
</div>

{% call components.div_note() %}
{% set url = url_for("proofing.complete_guide") %}
<p class="prose">For much more detail, see our <a href="{{ url }}">full
    guidelines</a>.</p>
{% endcall %}

<div class="prose">
<p>Our goal is to extract the original text and its basic format as accurately
as possible. However, our goal is <strong>not</strong> to create a
pixel-perfect copy of the original image.

<p>Do include:

<ul>
  <li><p>the exact text of the book. If the book says {{ 'kAryyate'|d }},
      please write {{ 'kAryyate'|d }} and not {{ 'kAryate'|d }}. Our goal is to
      transcribe the text, not to edit it.</li>
  <li><p>hyphens and line breaks, if they appear in the original text. Hyphens
      and line breaks help proofreaders quickly compare a specific line against
      the original page, and we can easily remove them later on.</li>
</ul>

<p>Don't include:

<ul>
  <li><p>page numbers and page headers. These are not useful for a digital
      edition, so we can exclude them.</li>
  <li><p>any content that is not part of the original book. This includes:
      handwritten notes, stamps, watermarks, dirt, stains, etc.</li>
  <li><p>word splitting ({{ 'padaccheda'|d }}) or sandhi splitting ({{
      'sandhivigraha'|d }}) of any kind. If the original book says {{
      'kazca'|d }}, please write {{ 'kazca'|d }} and not {{ 'kaz ca'|d }} or {{
      'kaH ca'|d }}.
  </li>
  <li><p>transliterations of the original text. If the original text says {{
      'narasya'|d }}, please write {{ 'narasya'|d }} and not <i>{{
          'narasya'|roman }}</i>.</li>
</ul>


{{ _h('faq') }}

<h3>How do I write in Devanagari?</h3>

{% set baraha = "https://baraha.com/v10/index.php" %}
{% set lipika = "https://github.com/ratreya/lipika-ime" %}

<p>We'll write a better answer soon, but here's our quick response:</p>

<ul>
  <li>For Windows users, we recommend using <a href="{{ baraha }}">Baraha</a>.</li>
  <li>For macOS users, we recommend using <a href="{{ lipika }}">LipikaIME</a>.</li>
</ul>

<h3>How should I handle typos and mistakes?</h3>

<p>Our job is to capture the text as-is. If you believe the text has an error,
wrap the error in <kbd>&lt;error&gt;&lt;/error&gt;</kbd> tags like so:

<pre class="bg-slate-100 p-2 my-4">
This is an &lt;error&gt;exampel&lt;/error&gt; of an error.
</pre>

<p>Once the page is proofread and ready for publishing, a specialist will
examine each of these errors and decide how to handle them.

{% set discord_url = "https://discord.gg/7rGdTyWY7Z" %}

<h3>What if I still have questions?</h3>

<p>Please <a href="{{ discord_url }}">join our Discord server</a> and ask your
question on our <kbd>#proofreading</kbd> channel! We are friendly, responsive,
and deeply grateful for your help.</p>

</ul>
</div>
{% endblock %}
