{% extends 'proofing/base.html' %}
{% import "macros/components.html" as components %}
{% import "macros/celery.html" as m_cel %}
{% import "macros/proofing.html" as m %}
{% import "macros/talk.html" as m_talk %}
{% import "macros/forms.html" as mf %}


{% block title %}Create a new project | Ambuda{% endblock %}


{% block content %}
<div class="prose">
<h1>Create new project</h1>

<p class="text-sm">(This page updates every 5 seconds.)</p>

{% set url = url_for('proofing.create_project_status', task_id=task_id) %}
<div x-data="htmlPoller('{{ url }}')">
  {% with current=current, total=total, percent=percent, slug=slug, status=status %}
    {% include 'include/task-progress.html' %}
  {% endwith %}
</div>
</div>

{% endblock %}
