{% extends 'proofing/base.html' %}
{% import "macros/components.html" as components %}
{% import "macros/celery.html" as m_cel %}
{% import "macros/proofing.html" as m %}
{% import "macros/talk.html" as m_talk %}
{% import "macros/forms.html" as mf %}


{% block title %}Create a new project | Ambuda{% endblock %}


{% block content %}
<div class="prose">
<h1>Create new project</h1>

{% if percent < 100 %}
<p>{% trans %}
We are currently creating your project. If you accidentally close this page,
don't worry: your project will still be created.
{% endtrans %}</p>

<p>{% trans %}
You can track your project's progress with the progress bar below. This
progress bar updates every 5 seconds.
{% endtrans %}</p>
{% endif %}

{% set url = url_for('proofing.create_project_status', task_id=task_id) %}
<div x-data="htmlPoller('{{ url }}')">
  {% with current=current, total=total, percent=percent, slug=slug, status=status %}
    {% include 'include/task-progress.html' %}
  {% endwith %}
</div>
</div>

<script type="text/javascript">
</script>

{% endblock %}
