{% extends 'proofing/base.html' %}
{% import "macros/proofing.html" as m %}

{% macro button(id, text) %}
<button id="{{ id }}" class="p-2 hover:bg-slate-300">{{ text|safe }}</button>
{% endmacro %}

{% block title %}Edit: {{ project.title }}/{{ cur.slug }} | Ambuda{% endblock %}

{% block main %}
<article class="p-4">
  {{ m.page_header(project, cur=cur, prev=prev, next=next) }}

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
      <p class="bg-green-100 my-4 p-2">{{ message }}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}

  {% if conflict %}
  <pre class="p-2 bg-slate-100 my-4">{{ conflict.content }}</pre>
  {% endif %}

  <form method="POST">
    {{ form.csrf_token }}
    {{ form.version }}
    <div class="flex">
      <div class="flex-1 mr-4 border">
        <div class="bg-slate-200">
          {{ button("run-ocr", "OCR") }}
        </div>
        {{ form.content(class_="p-4 w-full h-[90vh] resize-none") }}
      </div>

      <div class="flex-1 border bg-slate-100">
        <div class="bg-slate-200">
            {{ button("osd-zoom-in", "&#x1f50d;<sup>+</sup>") }}
          {{ button("osd-home", "&#x1f50d;&#x00b0;") }}
          {{ button("osd-zoom-out", "&#x1f50d;<sup>-</sup>") }}
          {{ button("osd-rotate-left", "&#x27f2;") }}
          {{ button("osd-rotate-right", "&#x27f3;") }}
        </div>

        <div id="osd-image" class="h-[90vh]">
        </div>
      </div>
    </div>
    <div class="p-4 mt-4 bg-slate-200">
      {{ form.summary.label(class_="text-slate-600 mb-2 block") }}
      {{ form.summary(class_="block rounded bg-white w-full mb-4 p-2") }}

      {{ form.status.label(class_="text-slate-600 mb-2 block") }}
      {{ form.status(class_="block rounded bg-white w-full mb-4 p-2") }}

      <input class="btn btn-submit" type="submit" value="Publish changes">
    </div>
  </form>
</article>

<script src="https://cdn.jsdelivr.net/npm/openseadragon@3.1/build/openseadragon/openseadragon.min.js"></script>
{% set image_url = url_for("site.page_image", project_slug=project.slug, page_slug=cur.slug) %}
<script type="text/javascript">
const IMAGE_URL = "{{ image_url }}";
// Image panning
const viewer = OpenSeadragon({
    id: "osd-image",
    tileSources: {
        type: 'image',
        url: "{{ image_url }}",
        buildPyramid: false,
    },

    // Buttons
    showRotationControl: true,
    showFullPageControl: false,
    zoomInButton: "osd-zoom-in",
    zoomOutButton: "osd-zoom-out",
    homeButton: "osd-home",
    rotateLeftButton: "osd-rotate-left",
    rotateRightButton: "osd-rotate-right",

    // Animations
    gestureSettingsMouse: {
        flickEnabled: true,
    },
    animationTime: 0,

    // Zoom level
    zoomPerClick: 1.2,
});
</script>
<script defer src="/static/js/proofreading.js"></script>
{% endblock %}
