{% extends 'proofing/base.html' %}
{% import "macros/proofing.html" as m %}
{% from "macros/forms.html" import field %}

{% block title %}Edit: {{ project.title }} | Ambuda{% endblock %}

{% block content %}
{{ m.project_header_nested(project, "Edit:") }}
{{ m.project_nav(project=project, active='edit') }}
{% set search_url = url_for("proofing.search_project", slug=project.slug)  %}

<div class="prose">
<p>We'll add more useful tools here soon. For now, you can <a href="{{
    search_url }}">search the project</a> or edit its metadata:</p>
</div>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
    <p class="bg-green-100 my-4 p-2">{{ message }}</p>
    {% endfor %}
  {% endif %}
{% endwith %}

<form method="POST" class="bg-slate-100 p-4">
  {{ form.csrf_token }}
  {{ field(form.title) }}
  {{ field(form.author) }}
  {{ field(form.editor) }}
  {{ field(form.publisher) }}
  {{ field(form.publication_year) }}

  <input class="btn btn-submit" type="submit" value="Save changes">
</form>

{% endblock %}
