{% extends 'proofing/base-sidebar.html' %}
{% import "macros/proofing.html" as m %}


{% macro _badge(bg) %}
<span class="inline-block rounded-full border w-4 h-4 mr-1 {{ bg }}"></span>
{% endmacro %}


{% macro status_legend() %}
<ul class="text-xs bg-slate-100 my-4 grid grid-cols-2 md:flex">
  <li class="p-2 flex items-center">{{ _badge("bg-red-200 border-red-400") }} Needs proofing</li>
  <li class="p-2 flex items-center">{{ _badge("bg-yellow-200 border-yellow-400") }} Proofed once</li>
  <li class="p-2 flex items-center">{{ _badge("bg-green-200 border-green-400") }} Proofed twice</li>
  <li class="p-2 flex items-center">{{ _badge("bg-gray-200 border-gray-400") }} Not relevant</li>
</ul>
{% endmacro %}



{% block title %}Proofing | Ambuda{% endblock %}


{% block sidebar %}{{ m.main_nav('projects') }}{% endblock %}


{% block content %}
<div class="prose">
<h1 class="md:!mt-0">Ongoing projects</h1>
</div>
{{ status_legend() }}

<div x-data="sortableList('created')">

<form class="border p-2 rounded text-sm">
<label class="text-slate-500">Sort by:</label>
<select class="bg-white" x-model="field" @change="sort">
  <option value="created" selected>Creation date</option> 
  <option value="progress">Progress</option> 
</select>
<select class="bg-white" x-model="order" @change="sort">
  <option value="asc" selected>Ascending</option> 
  <option value="desc">Descending</option> 
</select>
</form>

<ul x-ref="list">
  {% for p in projects %}
  <li data-created="{{ p.created_at }}" data-progress="{{ progress_per_project[p.id] }}">
    <div class="mt-4 a-hover-underline flex justify-between items-baseline">
      <a href="{{ url_for("proofing.project.summary", slug=p.slug) }}">{{ p.title }}</a>
      <span class="text-xs">{{ pages_per_project[p.id] }} pages</span>
    </div>

    <div class="flex">
    {% for cls, fraction in statuses_per_project[p.id].items() %}
      <div class="h-1 {{ cls }}" style="width: {{ fraction * 100 }}%"></div>
    {% endfor %}
    </div>

    {% if p.description %}
    <section class="mt-2 text-slate-600 text-sm">
      {{ p.description|markdown|safe }}
    </section>
    {% endif %}
  </li>
  {% endfor %}
</ul>
</div>
{% endblock %}
