{% extends 'proofing/base.html' %}

{% block content %}
<div class="prose">
<h1>Proofreading</h1>


<ul>
  <li><a href="{{ url_for("proofing.upload_images") }}">Create new project</a></li>
  <li><a href="{{ url_for("proofing.recent_changes") }}">Recent changes</a></li>
</ul>

</div>

<div class="prose">
<h2>Active projects</h2>
</div>

<ul>
{% for p in projects %}
<li>
  <h3 class="mt-4 mb-2 a-hover-underline">
    <a href="{{ url_for("proofing.project", slug=p.slug) }}">{{ p.title }}</a>
    ({{ all_page_counts[p.slug] }} pages)
  </h3>

  <div class="flex border">
  {% for cls, width in all_counts[p.slug].items() %}
    <div class="h-2 {{ cls }}" style="width: {{ width * 100 }}%"></div>
  {% endfor %}
  </div>
</li>
{% endfor %}
</ul>

</div>
{% endblock %}
