{% extends 'proofing/base.html' %}
{% import "macros/proofing.html" as m %}

{% block title %}{{ project.title }} | Ambuda{% endblock %}

{% block content %}
<div class="prose a-hover-underline">
<h1>{{ project.title }}</h1>
</div>

<p class="my-4 text-sm pb-4">
Download as:
<a class="btn bg-slate-100 hover:bg-slate-200" href="{{ url_for("proofing.download_as_text", slug=project.slug) }}">text</a>
<a class="btn bg-slate-100 hover:bg-slate-200" href="{{ url_for("proofing.download_as_xml", slug=project.slug) }}">XML</a>
</p>

<div class="prose">
  <h2>Pages</h2>
</div>

<ul class="grid grid-cols-10 gap-2 text-center">
{% for p in project.pages %}
  {% set status = p.status.name %}
  {% set extra -%}
    {%- if status == 'reviewed-0' %}bg-red-200 text-red-800 hover:bg-red-300
    {%- elif status == 'reviewed-1' %}bg-yellow-200 text-yellow-800 hover:bg-yellow-300
    {%- elif status == 'reviewed-2' %}bg-green-200 text-green-800 hover:bg-green-300
    {%- else %}bg-gray-100 text-gray-800 hover:bg-gray-200
    {%- endif -%}
  {%- endset %}

  {% set url = url_for('proofing.edit_page', project_slug=project.slug, page_slug=p.slug)  %}
  <li>
    <a class="block rounded py-1 {{ extra }}" href="{{ url }}">{{ p.slug }}</a>
  </li>
{% endfor %}
</ul>

<div class="prose">
  <h2>About this project</h2>
</div>

<a class="my-2 underline text-sm block" href="{{ url_for("proofing.edit_project", slug=project.slug) }}">Edit this project's information</a>

<div class="bg-slate-100 p-4 w-2/3">
<table class="w-full">
  <tr>
    <th class="text-left">Author</th>
    <td class="text-right">{{ project.author or "(none)" }}</td>
  </tr>
  <tr>
    <th class="text-left">Editor</th>
    <td class="text-right">{{ project.editor or "(none)" }}</td></tr>
  <tr>
    <th class="text-left">Publisher</th>
    <td class="text-right">{{ project.publisher or "(none)" }}</td></tr>
  <tr>
    <th class="text-left">Publication year</th>
    <td class="text-right">{{ project.publication_year or "(none)" }}</td>
  </tr>
</table>
</div>

<div class="prose">
  <h2>Recent changes</h2>
</div>

{{ m.revision_list(recent_revisions) }}

{% endblock %}
