{% extends 'proofing/base-sidebar.html' %}
{% import "macros/proofing.html" as m %}


{% macro page_link(text, page) %}
{% if page %}
  {% set url = url_for("proofing.recent_changes", page=page) %}
  <li><a class="block px-4 py-2 hover:bg-slate-100" href="{{ url }}">{{ text|safe }}</a></li>
{% else %}
  <li class="px-4 py-2 text-slate-400">{{ text|safe }}</li>
{% endif %}
{% endmacro %}


{% block title %}Recent changes | Ambuda{% endblock %}


{% block sidebar %}{{ m.main_nav('changes', current_user=current_user) }}{% endblock %}


{% block content %}
{{ m.title_and_subtitle(
    _("Recent changes"),
    "Recent edits and revisions made by people like you!") }}

{% if recent_revisions -%}
  <ul class="a-hover-underline">
    {% for r in recent_revisions -%}
      {{ m.revision_li(r) }}
    {%- endfor %}
  </ul>

  {# Page links #}
  {% set revs = recent_revisions %}
  <nav class="my-8">
    <p class="text-sm mb-2 text-slate-700">
      Showing {{ revs.first }} to {{ revs.last }} of {{ revs.total }} results.
    </p>
    <ul class="flex border rounded items-center text-center">
      {{ page_link("&laquo;", revs.prev_num) }}
      {% for page in revs.iter_pages() %}
        <li>
        {% if page %}
          {% if page == revs.page %}
            <div class="px-4 py-2 bg-sky-900 text-white font-bold">{{ page }}</div>
          {% else %}
            {% set url = url_for("proofing.recent_changes", page=page) %}
            <a href="{{ url }}" class="px-4 py-2 block hover:bg-slate-100">{{ page }}</a>
          {% endif %}
        {% else %}
          <div class="px-4 py-2">&hellip;</div>
        {% endif %}
        </li>
      {% endfor %}
      {{ page_link("&raquo;", revs.next_num) }}
    </ul>
  </nav>
{% else %}
<p>No changes found.</p>
{% endif %}

{% endblock %}
