{% extends 'proofing/base.html' %}
{% import "macros/proofing.html" as m %}

{% block title %}Revision: {{ project.title }}/{{ cur.slug }} | Ambuda{% endblock %}

{% block content %}
<div class="mb-4">
  {{ m.page_header(project, cur, prev=prev, next=next) }}
  {{ revision.created.strftime("%Y-%m-%d %H:%M:%S") }} by {{ revision.author.username }}
</div>

<div class="font-mono">
{% for line in diff %}
  {% set line = line.strip() or '&nbsp;'|safe %}
  {% if line.startswith('+') -%}<div class="p-1 bg-green-200">{{ line }}</div>
  {% elif line.startswith('-') -%}<div class="p-1 bg-red-200">{{ line }}</div>
  {% else -%}<div class="p-1 bg-gray-100">{{ line }}</div>
  {% endif %}
{% endfor %}
</div>

{% endblock %}
