{% extends 'proofing/base.html' %}
{% import "macros/proofing.html" as m %}
{% import "macros/proofing-talk.html" as m_talk %}
{% from "macros/forms.html" import field %}

{% block title %}Project Talk | Ambuda{% endblock %}

{% block content %}
<div class="prose">
  <h1>Proofing talk</h1>

  <p>Recent discussion across all projects.</p>
</div>

{% for project, thread in all_threads %}
  {% set project_url = url_for('proofing.project.summary', slug=project.slug) %}
  {% set thread_url = url_for('proofing.talk.thread', project_slug=project.slug, thread_id=thread.id) %}
  {% set author_url = url_for('proofing.users.user', username=thread.author.username) %}
  <li class="p-4 border-t a-hover-underline flex justify-between">
    <div>
      <a href="{{ thread_url }}">{{ thread.title }}</a>
      <p class="text-sm text-slate-400">
        <a href="{{ project_url }}">{{ project.title }}</a>
        | Created by <a href="{{ author_url }}">{{ thread.author.username }}</a>
      </p>
    </div>
    <p class="text-sm">{{ thread.updated_at|time_ago }}</p>
  </li>
{% endfor %}

{% endblock %}
