{% extends 'proofing/base.html' %}

{% block title %}Create new project | Ambuda{% endblock %}

{% block content %}
<div class="prose">
<h1>Create new project</h1>

<p>For now, please upload a list of images for your project. We hope to support
PDF uploads soon.</p>
</div>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
    <p class="bg-red-100">{{ message }}</p>
    {% endfor %}
  {% endif %}
{% endwith %}

<form action="{{ url_for('proofing.upload_images') }}" method="POST" enctype="multipart/form-data">
  <label class="block text-slate-500">Images to upload</label>
  <input class="block my-2" type="file" name="file" multiple />

  <label class="block text-slate-500">Title of this book (you can change this later)</label>
  <input class="block p-2 my-2 w-full bg-slate-100" type="text" name="title" />

  <input class="block btn btn-submit" type="submit" value="Upload document">
</form>
{% endblock %}
