{% extends 'proofing/base.html' %}
{% import "macros/components.html" as components %}
{% import "macros/proofing.html" as m %}

{% macro color(count) -%}
  {%- if count == 0 -%}bg-slate-100
  {%- elif count == 1 -%}bg-sky-100
  {%- elif count == 2 -%}bg-sky-200
  {%- else %}bg-sky-300
  {%- endif -%}
{%- endmacro %}


{% block title %}User: {{ user.username }} | Ambuda{% endblock %}


{% block content %}

{{ components.flash_messages() }}

<h1 class="font-bold text-3xl my-4">{{ user.username }}</h1>
{{ m.user_tabs(user=user, active='about', is_admin=current_user.is_admin) }}

<div class="prose">
<p>This user joined {{ user.created_at|time_ago }}.</p>

<h2>Revisions</h2>
</div>

{# "flex flex-col items-end" right-aligns the heatmap on overflow. #}
{# Use "overflow-x-clip" because "-hidden" causes a vertical scrollbar. #}
<div class="flex">

{# Days of the week (row labels) #}
<ul class="text-xs inline-grid grid-rows-7 grid-flow-col gap-0.5 pr-2">
  {# Empty first row to leave space for columns. #}
  <li class="h-3">&nbsp;</li>
  <li class="h-3">Sun</li>
  <li class="h-3">&nbsp;</li>
  <li class="h-3">Tue</li>
  <li class="h-3">&nbsp;</li>
  <li class="h-3">Thu</li>
  <li class="h-3">&nbsp;</li>
  <li class="h-3">Sat</li>
</ul>

<div class="flex flex-col items-end overflow-x-clip max-w-xl">
  {# Months (column labels) #}
  <ul class="flex text-xs">
    {% for month in month_labels %}
    <li class="{{ month.classes }}">{{ month.name }}</li>
    {% endfor %}
  </ul>

  {# Cells #}
  <div class="grid grid-rows-7 grid-flow-col gap-0.5 max-w-xl">
  {% for date in dates %}
    {% set count = revision_counts.get(date, 0) %}
    {% set title = "1 edit" if count == 1 else "{} edits".format(count) -%}
    <div class="w-3 h-3 rounded-0.5 {{ color(count) }}" title="{{ title }}"></div>
    {% endfor %}
  </div>
</div>

</div>
{% endblock %}

