{% extends 'base-text.html' %}

{% block title %}About | Ambuda{% endblock %}

{% set mailing_url = 'https://groups.google.com/g/learnsanskrit-announce' %}
{% set code_url = 'https://github.com/sanskrit/ambuda' %}
{% set contact_url = url_for('site.contact') %}
{% set host_url = 'https://digitalocean.com' %}

{% block content %}
<div class="prose">
<h1>About</h1>

<p><a href="{{ mailing_url }}">Our mailing list</a> shares regular updates
on Ambuda and our other Sanskrit projects. <a href="{{ code_url }}">Our
code</a> is all on GitHub, and we eagerly welcome contributors of all
backgrounds. For all other inquiries, please <a href="{{ contact_url }}">reach
out to us directly</a>.</p>


<h2>Mission</h2>

<p>Our mission is to make the Sanskrit tradition radically accessible.
Specifically, we have three goals:</p>

<ol>
  <li><p>Create <strong>a comprehensive archive</strong> of traditional
      Sanskrit literature. The traditional corpus is vast, but current archival
      efforts are piecemeal and vary widely in quality and coverage.</p></li>

  <li><p>Publish this archive in <strong>an open format</strong>. We aim to
      publish the entire corpus in plain text and with permissive licensing.
      Our user interface to this corpus will work seamlessly across devices and
      locales.</p>

  <li><p>Integrate this archive with <strong>learner-friendly tools</strong>.
      Most Sanskrit readers are novices, and we we can remove a lot of busywork
      and pointless manual toil from the learning process.</p></li>
</ol>

<p>A comprehensive archive in an open format with learner-friendly tools.
That's what Ambuda is for.</p>


<h2>Roadmap</h2>

<p>Loosely, our project has four phases. Polishing each of these phases is an
unending task, but even a "good enough" version of each phase would be
valuable and useful.</p>

<p>The phases are as follows:</p>

<ol>
  <li><p><strong>A delightful user interface.</strong> We will create a simple
      and attractive website that works across devices. Most of the work is in
      overall design, with a few smart features such as an integrated
      dictionary and on-demand transliteration to other scripts.</p></li>

  <li><p><strong>A smart reading environment.</strong> Once the basic reading
      experience satisfies, we will integrate more and more assistive tooling
      for learners. At a minimum, we will support sandhi splitting and
      word-by-word analysis for at least 50% of the texts in our archive.</p>

  <li><p><strong>A publishing platform.</strong> Once our project becomes the
      <em>de facto</em> way to read Sanskrit online, we will build out an
      end-to-end publishing platform that supports collaborative work on
      transcription and proofreading.</p></li>

  <li><p><strong>A complete archive.</strong> With these three phases in place,
      what remains is the real work: gathering, transcribing, proofreading, and
      publishing all of Sanskrit.</p></li>

</ol>

<p>Roughly, we expect to complete phase 1 in days, phase 2 in weeks, phase 3 in
months, and phase 4 in years. Our project is currently in <strong>phase
    1</strong>.</p>


<h2>Data</h2>

{% set gretil = "http://gretil.sub.uni-goettingen.de/gretil.html" %}
{% set smith = "https://bombay.indology.info/" %}
{% set cdsl = "https://www.sanskrit-lexicon.uni-koeln.de" %}
{% set do = "https://www.digitalocean.com/" %}

<p>Almost all of Ambuda's data comes from other projects.</p>

<p>Text data mostly comes from <a href="{{ gretil }}">GRETIL</a>. For the
<cite>Ramayana</cite> and <cite>Mahabharata</cite> specifically, we instead use
the "official" electronic versions hosted on <a href="{{ smith }}">John D.
    Smith's website</a>. As our project grows, we will include other sources
of textual data and even generate texts on our own.</p>

<p>Dictionary data comes from the <a href="{{ cdsl }}">Cologne Digital Sanskrit
Lexicons</a> (CDSL) project.</p>


<h2>Code</h2>

<p>All of our code is available <a href="{{ code_url }}">on GitHub</a>. We use
Python (Flask) for the backend, Tailwind for CSS, and native JavaScript for the
rest. Our site is hosted <a href="{{ host_url }}">on DigitalOcean</a>.</p>


</div>
{% endblock %}
