<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Ambuda -- a Sanskrit reader">
    <link rel="stylesheet" type="text/css" href="/static/gen/style.css">
    <link rel="icon" href="data:,">
    <title>{% block title %}{% endblock %}</title>
    <script async defer data-domain="ambuda.org" src="https://plausible.io/js/plausible.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/@indic-transliteration/sanscript@1.2.7/sanscript.min.js"></script>
    <script defer src="/static/js/main.js"></script>
  </head>
  {% block body %}{% endblock %}
</html>


