<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block meta_description -%}
    A breakthrough Sanskrit library. Read our library of traditional Sanskrit texts with word-by-word analysis, integrated dictionary support, and so much more.
    {%- endblock %}">
    <link rel="stylesheet" type="text/css" href="{{ asset('gen/style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prosemirror-view@1.27.0/style/prosemirror.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prosemirror-menu@1.2.1/style/menu.css">
    <link rel="stylesheet" type="text/css" href="/static/css/prosemirror-example-setup.css" />
    <link rel="icon" href="data:,">
    <title>{% block title %}{% endblock %}</title>
    {% block scripts %}{% endblock %}
  </head>
  {% block body %}{% endblock %}
</html>


