{% extends 'header-main-footer.html' %}
{% import "macros/components.html" as m %}


{% block title %}{{ m.title(_('Donate')) }}{% endblock %}


{% block body %}
<body class="bg-slate-100">

<header class="text-sky-900 shrink-0">
  <div class="mb-4 fill-white">
    <nav class="md:flex justify-between items-center a-hover-underline">
      <a class="p-4 font-bold text-lg" href="{{ url_for('site.index') }}">{{ _('Ambuda') }}</a>
    </nav>
  </div>

  <div class="max-w-4xl mx-auto mt-16 mb-4 p-4 text-center">
    <h1 class="text-3xl sm:text-4xl lg:text-5xl font-bold">{{ _('Support the future of Sanskrit') }}</h1>
    <div class="mx-auto text-lg max-w-xl">
      <p class="my-4">{{ _('Ambuda is a breakthrough digital library of Sanskrit literature.') }}</p>
      <p class="my-4">{{ _('Donate today and help us make Sanskrit accessible to all.') }}</p>
      <p class="italic my-4 text-sm">{{ _('Ambuda is run entirely by volunteers for the public benefit.') }}</p>
  </div>
</header>


<main class="pb-24">
{# The Donorbox widget renders off-center by default. To fix:
    1. Decrease the iframe width to 425px.
    2. Add `class="mx-auto"` to the iframe.
#}
  <script src="https://donorbox.org/widget.js" paypalExpress="false"></script>
  <iframe src="https://donorbox.org/embed/ambuda?default_interval=o" name="donorbox" allowpaymentrequest="allowpaymentrequest" seamless="seamless" frameborder="0" scrolling="no" height="900px" width="100%" style="max-width: 425px; min-width: 250px; max-height:none!important" class="mx-auto"></iframe>

</main>
</body>
{% endblock %}
