{% extends 'base.html' %}


{# Include site scripts, including analytics scripts that track the current URL. #}
{% block scripts %}
    <script async defer data-domain="ambuda.org" src="https://plausible.io/js/plausible.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/@indic-transliteration/sanscript@1.2.7/sanscript.min.js"></script>
{% endblock %}


{% block body %}
<body class="flex flex-col">
{% block header %}
{% include "include/header.html" %}
{% endblock %}

<div class="flex-1">
{% block main %}{% endblock %}
</div>


{% block footer %}
{% include "include/footer.html" %}
{% endblock %}
</body>
{% endblock %}
