{% extends 'base.html' %}


{# Include site scripts, including analytics scripts that track the current URL. #}
{% block scripts %}
    <script async defer data-domain="ambuda.org" src="https://plausible.io/js/plausible.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/@indic-transliteration/sanscript@1.2.7/sanscript.min.js"></script>
    {# Load scripts before Alpine so that our init hooks are properly set up. #}
    <script defer src="{{ asset('gen/main.js') }}"></script>
    <script src="https://unpkg.com/alpinejs@3.10.3/dist/cdn.min.js" defer></script>
{% endblock %}


{% block body %}
<body class="flex flex-col">
{% block header %}
<div class="text-sky-900 bg-slate-100 border-b mb-4">
{% include "include/header.html" %}
</div>
{% endblock %}

<div class="flex-1">
{% block main %}{% endblock %}
</div>

{% block footer %}
{% include "include/footer.html" %}
{% endblock %}
</body>
{% endblock %}
