{% extends 'header-main-footer.html' %}

{% set mailing_url = 'https://groups.google.com/g/learnsanskrit-announce' %}
{% set code_url = 'https://github.com/ambuda-project/ambuda' %}
{% set contact_url = url_for('about.contact') %}

{% block title %}Ambuda{% endblock %}

{% block header %}
<!-- mt-16 md:mt-32 mb-2 md:mb-6 mx-auto max-w-xl -->
<header class="text-center text-sky-900 bg-slate-100 mb-8">
  <div class="pt-8 pb-4 max-w-xl mx-auto">
    <h1 class="text-5xl font-bold mt-16">Ambuda</h1>
    <p class="text-sm mt-2 mb-4">A digital Sanskrit library</p>
    <nav class="flex justify-center py-2 mx-auto a-hover-underline">
      <a href="{{ url_for('texts.index') }}">Texts</a>
      <span class="px-4">|</span>
      <a href="{{ url_for('dictionaries.index') }}">Dictionaries</a>
      <span class="px-4">|</span>
      <a href="{{ url_for('proofing.index') }}">Proofing</a>
    </nav>
  </div>
</header>
{% endblock %}

{% block main %}
<article class="p-4 md:p-0 max-w-xl mx-auto">
<section class="prose">
<p>Ambuda is building a complete archive of traditional Sanskrit literature.
Our cutting-edge software makes Sanskrit radically accessible and lets you
explore its works like never before.</p>

{% set group = "https://groups.google.com/u/2/g/learnsanskrit-announce" %}
<p>Our project is growing rapidly! <a href="{{ group }}">Sign up for our
mailing list</a> to receive regular updates on our progress and milestones.</p>

{#
<form method="POST" action="" class="flex rounded my-8">
  <input type="email" placeholder="Enter your email address" class="bg-slate-100 p-2 block w-full"/>
  <input type="submit" class="btn btn-submit" value="Sign up">
</form>
#}

<p>Ambuda is run entirely by volunteers, and we would be thrilled to have your
support in whatever form you can provide it. Learn more about
<a href="{{ url_for('site.support') }}">how you can help Ambuda grow</a>.</p>
</section>
{% endblock %}
