{% extends 'header-main-footer.html' %}

{% set mailing_url = 'https://groups.google.com/g/learnsanskrit-announce' %}
{% set code_url = 'https://github.com/ambuda-org/ambuda' %}
{% set contact_url = url_for('about.contact') %}
{% set group = "https://groups.google.com/u/2/g/learnsanskrit-announce" %}


{% set links = [
  ('texts.index', 'Texts'),
  ('dictionaries.index', 'Dictionaries'),
  ('proofing.index', 'Proofing'),
  ('site.support', 'Support'),
  ('about.index', 'About'),
] %}

{% set mobile_only = ["proofing.index", "site.support"] %}


{% block title %}{{ _('Ambuda') }}{% endblock %}


{% block header %}
<header class="bg-brand text-white shrink-0 pb-16">
  <div class="mb-4 fill-white">
    {% include("include/header.html") %}
  </div>

  <div class="text-center">

  <div class="max-w-4xl mx-auto mt-28 mb-4 p-4">
    <h1 class="text-4xl sm:text-5xl lg:text-6xl font-bold">{{ _('A breakthrough Sanskrit library') }}</h1>
    <p class="mx-auto text-lg mt-4 mb-4 max-w-2xl text-slate-400">{% trans %}
    Sanskrit literature with word-by-word analysis and integrated dictionaries.
    All in a free online library that works on all devices.
    {% endtrans %}</p>
  </div>

  <a class="p-4 transition rounded btn border border-slate-500 text-slate-200
      hover:bg-white hover:text-brand" href="{{ url_for("texts.index") }}">
      {{ _('Explore the library') }}
  </a>

  <ul class="flex text-slate-300 justify-center mt-24 a-hover-underline">
    {% for L in ambuda_locales %}
    <li><a class="p-2" href="{{ url_for('site.set_language', slug=L.slug) }}">
      {{ L.text }}
    </a></li>
    {% endfor %}
  </ul>

  </div>
</header>
{% endblock %}

{% macro section(classes = '') %}
<section class="p-8 md:py-14 lg:py-20 {{ classes }}">
<div class="prose max-w-2xl mx-auto">
{{ caller() }}
</div>
</section>
{% endmacro %}

{% block main %}
<article>


{% call section() %}
<h2 class="!mt-0">{{ _("Building the world's largest Sanskrit library") }}</h2>

<p>{% trans %}
Sanskrit texts are scattered across dozens of websites, thousands of books, and
millions of manuscripts. Their quality and ease of use vary widely, and there
isn't an easy way to explore what Sanskrit has to offer.
{% endtrans %}</p>

<p>{% trans %}
That's why Ambuda is building a complete library of traditional Sanskrit
literature. Our library is small now, but it's growing rapidly. Soon, it will
be the largest Sanskrit library in the world.
{% endtrans %}</p>
{% endcall %}


{% call section("bg-yellow-200") %}
<h2 class="!mt-0">{{ _('Open access for all') }}</h2>

<p>{% trans %}
What if you could read Sanskrit anywhere for free? What if reading Sanskrit
online were delightful and beautiful? What if you could easily find Sanskrit
resources in your native language?
{% endtrans %}</p>

<p>{% trans %}
We have a long way to go, but we want to make our library radically accessible
to as many people as we can. For now, you can use our website on any device.
Soon, we'll support other languages besides English.
{% endtrans %}</p>
{% endcall %}


{% call section("bg-sky-100") %}
<h2 class="!mt-0">{{ _('Intelligent technology') }}</h2>

<p>{% trans %}
Word-by-word analysis. Integrated dictionary support. Transliteration to a
variety of different scripts. And so much more. Our intelligent library uses
state-of-the-art technology to make Sanskrit more accessible than ever before.
{% endtrans %}</p>

<p>{% trans %}
But our work is just beginning. We have so much planned for the future:
translations, commentaries, full-text search, and deeper hyperlinks across the
entire corpus.
{% endtrans %}</p>
{% endcall %}


{% call section("bg-green-200") %}
<h2 class="!mt-0">{{ _('By the public, for the public') }}</h2>
{% set support_url = url_for('site.support') %}

<p>{% trans %}
Ambuda is run entirely by volunteers, and we would be thrilled to have your
support in whatever form you can provide it. Learn more about how you can <a
href="{{ support_url }}">help Ambuda grow</a>.
{% endtrans %}</p>

<p>{% trans %}
Ambuda is growing rapidly. <a href="{{ mailing_url }}">Sign up for our mailing
list</a> to receive regular updates on new content and features.
{% endtrans %}</p>
{% endcall %}

<section class="bg-slate-100 text-center text-brand shrink-0 pt-4 pb-32">
  <div class="max-w-4xl mx-auto mt-28 mb-4 p-4">
    <h1 class="text-4xl sm:text-5xl lg:text-6xl font-bold">
      {{ _('Sanskrit at your fingertips') }}
    </h1>
    <p class="mx-auto text-lg mt-4 mb-4 max-w-2xl">
      {{ _('Our work is just beginning. Thank you for using Ambuda.') }}
    </p>
  </div>
  <div>
    <a class="p-4 transition rounded btn border bg-brand text-white
        hover:bg-white hover:text-brand" href="{{ url_for("texts.index") }}">
        {{ _('Explore the library') }}
    </a>
  </div>
</section>

</article>
{% endblock %}
