{% extends 'header-main-footer.html' %}

{% block title %}{{ text.title | devanagari }} {{ section.title }}{% endblock %}

{% block header %}
<header class="bg-zinc-100 p-4">
<a class="hover:underline" href="{{ url_for('site.index') }}">Ambuda</a> &raquo;
<a class="hover:underline" href="{{ text.url }}">
  {{ text.title | devanagari }} 
</a> &raquo;
{{ section.title }}
</header>
{% endblock %}

{% block main %}
<article class="text-xl mx-auto max-w-2xl my-24">
    <div>
    {{ content | safe }}
    </div>
</article>

<nav class="flex space-apart bg-zinc-100">
{% if prev %}
<a class="block p-4" href="{{ prev.url }}">&larr; {{ prev.title }}</a>
{% else %}
<span>&nbsp;</span>
{% endif %}

{% if next %}
<a class="block p-4" href="{{ next.url }}">{{ next.title }} &rarr;</a>
{% else %}
<span>&nbsp;</span>
{% endif %}
</nav>
{% endblock %}

{% block footer %}{% endblock %}
