{% extends 'base-text.html' %}

{% block title %}Support | Ambuda{% endblock %}

{% block meta_description -%}
Learn more about all the ways you can help Ambuda grow.
{%- endblock %}

{% set paypal = "https://www.paypal.com/donate/?hosted_button_id=932UCTBER9RHA" %}
{% set contact = url_for("about.contact") %}
{% set mission = url_for("about.mission") %}
{% set values = url_for("about.values") %}

{% set contents = {
  'donate': 'Donate to Ambuda',
  'sharing': 'Use and share Ambuda',
  'transcription': 'Transcribe and proofread texts',
  'contribute_text': 'Contribute a text',
  'tagging': 'Tag and annotate sentences',
  'technical': 'Build our technical platform',
  'other': 'Other open problems',
} %}

{% macro _h(anchor) %}
<h2 id="{{ anchor }}">{{ contents[anchor] }}</h2>
{% endmacro %}

{% block content %}
<div class="prose">
<h1>Support</h1>

<p>Ambuda is building a complete archive of traditional Sanskrit literature.
This is a massive undertaking on an urgent timeline: Sanskrit manuscripts don't
last forever, and there is no guarantee that the future will be as peaceful as
it is now.

<p>We need to build the capacity and the capital for such an effort before it
is too late. <strong>We can do so only with your help.</strong>

<p>Here is how you can help Ambuda grow:

<ul>
  {% for anchor, title in contents.items() %}
  <li><a href="#{{ anchor }}">{{ title }}</a></li>
  {% endfor %}
</ul>


{{ _h('donate') }}
</div>

<p>Ambuda is a free project run for the public benefit. Please help pay for our
hosting costs with a small donation:</p>

<div class="text-center my-4 py-8 bg-slate-100">
  <a href="{{ paypal }}" class="btn bg-black text-white p-4">Donate to Ambuda</a>
</div>

<p>More money means more security for the project and a greater ability for us
to try ambitious new projects.</p>


<div class="prose">
{{ _h('sharing') }}

<p>If you're short on time, using Ambuda and sharing it with others is the
easiest way to help our project.

<p><a href="{{ contact }}">Let us know</a> how Ambuda has benefited you, and
let us know about any issues or errors you encounter as well. Please also share
Ambuda with others who might feel the same way as you.

<p>Seeing others use and enjoy our work boosts team morale, and it also helps us
recruit more volunteers. Every little bit helps!</p>


{{ _h('transcription') }}
</div>

{% set url = url_for("proofing.index") %}
{% set register = url_for("auth.register") %}
{% set beginners = url_for("proofing.beginners_guide") %}

<section class="p-4 my-4 bg-slate-100 a-underline">
<p class="mb-4">How to get started:</p>
<ol class="list-decimal pl-6">
  <li><a href="{{ register }}">Create</a> a proofing account.</li>
  <li>Read our <a href="{{ beginners }}">beginner's guide</a>.</li>
  <li>Start proofing!</li>
</ol>
</section>

<div class="prose">
<p>As we grow and scale, we will need to transcribe thousands of texts, both in
Sanskrit and in translation. We're looking for volunteers to use <a href="{{
url }}">our new proofreading tool</a> to transcribe and proofread these texts.

{% set ocr = "https://en.wikipedia.org/wiki/Optical_character_recognition" %}
<p>Basic work includes:

<ul>
  <li>Transcribing and proofreading existing projects with the help of
      automatic transcription tools (<a href="{{ ocr }}">OCR</a>).</li>
  <li>Raising issues or problems to more senior proofreaders.</li>
</ul>

<p>Intermediate work includes:

<ul>
  <li>Finding Sanskrit texts and translations that haven't been transcribed.</li>
  <li>Supporting new proofreaders by giving advice and reviewing their work.</li>
  <li>Making suggestions and feature requests for our proofreading interface.</li>
</ul>

<p>Advanced work includes:

<ul>
  <li>Developing and enforcing proofreading guidelines across all of our projects.</li>
  <li>Supporting and moderating our proofreading community as a whole.</li>
</ul>

  
</div>

{{ _h('contribute_text') }}
<div class="prose">
  <p>Do you have an out-of-copyright work you want to contribute to our library? Or are
    you a publisher, translator or author interested in contributing a major work to Ambuda?
    That's a wonderful way to contribute to the popularity of Sanskrit literature.
    Please <a href="{{ contact }}">contact us!</a>
  </p>
</div>


{{ _h('tagging') }}
<section class="p-4 my-4 bg-slate-100 a-underline">
<p>We're still setting up the workflow here. Please check back soon.</p>
</section>

<div class="prose">
<p>Our analysis tools can generate a word-by-word analysis automatically for many
Sanskrit texts. But, these tools still produce many errors, and they need
manual correction before we can show them to a user.

<p>Basic work includes:

<ul>
  <li>Correcting the word splitting ({{ 'padaccheda'|devanagari }}) of uploaded texts</li>
  <li>Annotating words with their gender, case, number, person, etc.
</ul>

<p>Intermediate work includes:

<ul>
  <li>Annotating compounds.</li>
  <li>Creating prose reorderings ({{ 'anvaya'|devanagari }}).</li>
  <li>Reviewing errors reported by readers.</li>
</ul>

<p>Advanced work includes:

<ul>
  <li>Developing and enforcing annotation guidelines across all of our tagged data.</li>
</ul>


{{ _h('technical') }}
</div>

{% set repo = "https://github.com/ambuda-org/ambuda" %}
{% set issues = "https://github.com/ambuda-org/ambuda/issues" %}
{% set discord = "https://discord.gg/7rGdTyWY7Z" %}
<section class="p-4 my-4 bg-slate-100 a-underline">
<p class="font-bold mb-4">How to get started:</p>
<ol class="list-decimal pl-6">
  <li>Download and build <a href="{{ repo }}">our repo</a>.</li>
  <li>Read our <a href="{{ issues }}">open issues</a>.</li>
  <li>Join us on <a href="{{ discord }}">our Discord server</a>.</li>
</ol>
</section>

<div class="prose">
<p>Ambuda's technical work is massive and unending, and it touches basically
every part of the stack: frontend, backend, infra, storage, databases,
security, OCR &amp; NLP, UX and user research, and many more.

<p>Basic work includes:

<ul>
  <li>Solving small and narrowly scoped technical problems.</li>
  <li>Flagging rough edges in our code and documentation.</li>
</ul>

<p>Intermediate work includes:

<ul>
  <li>Solving larger but still well-defined technical problems.</li>
  <li>Communicating with technical team members on design decisions.</li>
  <li>Improving our code health and documentation.</li>
</ul>

<p>Advanced work includes:

<ul>
  <li>Solving large and ambiguous technical problems.</li>
  <li>Communicating with non-technical team members on design decisions.</li>
  <li>Owning and maintaining pieces of the project on an ongoing basis.</li>
</ul>
</ul>


{{ _h('other') }}

<p>There are dozens of other important problems that we need to solve for
Ambuda to grow properly: community management, fundraising, outreach and
marketing, writing blog posts and documentation, sourcing texts, coordination
with universities and governments …

<p>If you have a clear idea on how to work on one of these problems, please
<a href="{{ contact }}">let us know</a>.

<h2>Final thoughts</h2>

<p>If Ambuda succeeds, it will fundamentally change how people read and learn
Sanskrit. Please help us make this audaciously ambitious project a reality.


</div>
{% endblock %}
