{% extends 'header-main-footer.html' %}

{% macro section_grid(sections) %}
<ul class="grid grid-cols-10 gap-4 my-8">
{% for s in sections %}
  {% set url = url_for('site.section', text=text.slug, path=s.slug) %}
  <li><a class="text-center block hover:underline"
        href="{{ url }}">{{ s.title | devanagari }}
  </a></li>
{% endfor %}
</ul>
{% endmacro %}

{% block title %}{{ text.title | devanagari }}{% endblock %}

{% block main %}
<main class="max-w-xl mx-auto my-24">
<h1 class="text-center font-bold text-4xl x-deva">
    {{ text.title | devanagari }}
</h1>

{% for prefix, sections in section_groups.items() %}
{{ section_grid(sections) }}
{% endfor %}
</main>
{% endblock %}
