{% extends 'proofing/base-sidebar.html' %}
{% import "macros/components.html" as components %}
{% import "macros/forms.html" as mf %}
{% import "macros/proofing.html" as m %}


{% block title %}Activity: {{ project.title }} | Ambuda{% endblock %}


{% block sidebar %}{{ m.main_nav('projects', current_user=current_user) }}{% endblock %}


{% block content %}
{{ m.project_header_nested('Activity', project) }}
{{ m.project_nav(project=project, active='activity') }}
{% set search_url = url_for("proofing.project.search", slug=project.slug)  %}

{{ m.revision_list(recent_revisions) }}

{% endblock %}
