{% extends 'proofing/base-sidebar.html' %}
{% import "macros/components.html" as components %}
{% import "macros/forms.html" as mf %}
{% import "macros/proofing.html" as m %}


{% block title %}Admin: {{ project.display_title }} | Ambuda{% endblock %}


{% block sidebar %}{{ m.main_nav('projects', current_user=current_user) }}{% endblock %}


{% block content %}
{{ m.project_header_nested("Admin", project) }}
{{ m.project_tabs(project=project, active='admin', is_mod=current_user.is_moderator) }}

<div class="prose">

<h2>Summary</h2>

{% if project.creator %}
{% set user_link = url_for('proofing.user.summary', username=project.creator.username) %}
<p>Created by <a href="{{ user_link }}">{{ project.creator.username }}</a>
{{ project.created_at|time_ago }}.</p>
{% else %}
<p>Created by <i>(unknown user)</i> {{ project.created_at|time_ago }}.</p>
{% endif %}


<h2>Danger zone</h2>

{{ mf.show_errors_if_any(form.errors) }}
<form method="POST" class="border border-red-500 rounded p-4 my-4">
  {{ form.csrf_token }}
  <p><strong>Delete project</strong></p>

  <p>Deleting this project will delete all of its:</p>

  <ul>
    <li>pages</li>
    <li>revisions</li>
    <li>discussion threads</li>
  </ul>

  <p>This action <strong>cannot</strong> be undone.</p>

  <p>To confirm this decision, enter <kbd>{{ project.slug }}</kbd> in the field below.</p>

  {{ form.slug(class_="p-2 block w-full my-4 border") }}

  <input class="btn bg-red-700 hover:bg-red-900 transition text-white" type="submit" value="Permanently delete this project and its data">
</form>

</div>
{% endblock %}
