{% extends 'proofing/base-sidebar.html' %}
{% import "macros/components.html" as components %}
{% from "macros/forms.html" import field %}
{% import "macros/proofing.html" as m %}


{% block title %}OCR {{ project.title }} | Ambuda{% endblock %}


{% block sidebar %}{{ m.main_nav('projects', current_user=current_user) }}{% endblock %}


{% block content %}
{{ components.flash_messages() }}

{{ m.project_header_nested('OCR', project) }}
{{ m.project_tabs(project=project, active='edit') }}

<div class="prose">
  <p>Click the button below to run OCR on every unedited page.</p>

  <form method="POST">
      <input class="btn btn-submit" type="submit" value="Run OCR"></input>
  </form>
</div>
{% endblock %}
