{% extends 'proofing/base.html' %}
{% from "macros/forms.html" import field %}
{% import "macros/proofing.html" as m %}

{% block title %} Search and Replace | {{ project.display_title }}{% endblock %}

{% block content %}

{{ m.project_header_nested('Review and Confirm Changes', project) }}
{{ m.project_tabs(project=project, active='edit') }}

<div class="prose">
  <h1>Confirm Changes</h1>
  {% macro sp(s, p, n) %}{% if n == 1 %}{{ s }}{% else %}{{ p }}{% endif %}{% endmacro %}
  <p>Please carefully review and confirm the changes you selected:</p>
  <form method="POST" action="{{ url_for('proofing.project.confirm_changes', slug=project.slug) }}" class="bg-slate-100 p-4 my-4">
    {{ form.csrf_token }}
    <input type="hidden" name="query" value="{{ query }}">
    <input type="hidden" name="replace" value="{{ replace }}">

    {% set match_counts = results|map(attribute='matches')|map('length')|list %}
    {% set nr = match_counts|sum %}
    <p>Confirm changes on {{ nr }} {{ sp("match", "matches", nr) }} that {{ sp("contains", "contain", nr) }} <span style="color: red;"><kbd>{{ query }}</kbd></span> to be replaced by <span style="color: green;"><kbd>{{ replace }}</kbd></span>.</p>
    
    {% for result in results %}
      {% set page = result.page %}
      {% set page_url = url_for("proofing.page.edit", project_slug=project.slug, page_slug=page.slug) %}
      {% set matches = result.matches %}
      {% for match in matches %}
        <div class="match" style="background-color: rgb(243, 239, 239);">
          <p>Page <a href="{{ page_url }}">{{ project.display_title }}/{{ page.slug }}:</a> Line {{ match.line_num }}</p>
          <label for="match{{ page.slug }}-{{ match.line_num }}">{{ match.query }}</label>
          <input type="hidden" name="match{{ page.slug }}-{{ match.line_num }}-query" value="{{ match.query }}">
          <br>
          <label for="match{{ page.slug }}-{{ match.line_num }}-replace" style="color: rgb(97, 86, 66); background-color: rgb(219, 215, 215);"> {{ match.replace }} </label>
          <input type="hidden" name="match{{ page.slug }}-{{ match.line_num }}-replace" value="{{ match.replace }}">
        </div>
      {% endfor %}
    {% endfor %}
    <button class="btn btn-submit" type="submit" name="cancel" value="cancel">Cancel</button>
    <button class="btn btn-submit" type="submit" name="confirm" value="confirm">Confirm</button>
  </form>
  </div>
{% endblock %}
