{% extends 'proofing/base-sidebar.html' %}
{% import "macros/proofing.html" as m %}


{% block title %}Download: {{ project.title }} | Ambuda{% endblock %}


{% block sidebar %}{{ m.main_nav('projects') }}{% endblock %}


{% block content %}
{{ m.project_header_nested('Download', project) }}
{{ m.project_nav(project=project, active='download') }}

<div class="prose">
  <p>{% trans %}
  You can use these links to download the latest version of the transcribed
  project. To save these files to your local machine, right-click and click
  <kbd>Save As &hellip;</kbd> or whatever similar option your computer gives
  you.{% endtrans %}</p>

<ul class="my-4 pb-4">
  <li><a href="{{ url_for("proofing.project.download_as_text", slug=project.slug) }}">
    {{ _('Download as plain text') }}
  </a></li>
  <li><a href="{{ url_for("proofing.project.download_as_xml", slug=project.slug) }}">
    {{ _('Download as TEI XML') }}
  </a></li>
</ul>

</div>
{% endblock %}
