{% extends 'proofing/base-sidebar.html' %}
{% import "macros/components.html" as components %}
{% import "macros/forms.html" as mf %}
{% import "macros/proofing.html" as m %}


{% block title %}Edit: {{ project.title }} | Ambuda{% endblock %}


{% block sidebar %}{{ m.main_nav('projects', current_user=current_user) }}{% endblock %}


{% block content %}
{{ m.project_header_nested('Edit', project) }}
{{ m.project_tabs(project=project, active='edit', is_mod=current_user.is_moderator) }}

{% set search_url = url_for("proofing.project.search", slug=project.slug)  %}
{% set replace_url = url_for("proofing.project.replace", slug=project.slug)  %}
{% set ocr_url = url_for("proofing.project.batch_ocr", slug=project.slug)  %}

<div class="prose">

<ul>
  <li><a href="{{ search_url }}">{{ _('Search the project') }}</a></li>
  <li><a href="{{ replace_url }}">{{ _('Search & replace in the project') }}</a></li>
  <li><a href="{{ ocr_url }}">{{ _('Run batch OCR') }}</a></p>
</ul>

{# Flash messages are shown in base-sidebar.html #}
{{ mf.show_errors_if_any(form.errors) }}

<form method="POST" class="bg-slate-100 p-4">
  {{ form.csrf_token }}
  {{ mf.markdown_field(form.description) }}
  {{ mf.field(form.page_numbers) }}
  {{ mf.field(form.title) }}
  {{ mf.field(form.author) }}
  {{ mf.field(form.editor) }}
  {{ mf.field(form.publisher) }}
  {{ mf.field(form.publication_year) }}

  <input class="btn btn-submit" type="submit" value="{{ _('Save changes') }}">
</form>

{% endblock %}
