{% extends 'proofing/base-sidebar.html' %}
{% import "macros/components.html" as components %}
{% import "macros/forms.html" as mf %}
{% import "macros/proofing.html" as m %}


{% block title %}Activity: {{ project.title }} | Ambuda{% endblock %}


{% block sidebar %}{{ m.main_nav('projects') }}{% endblock %}


{% block content %}
{{ m.project_header_nested('Activity', project) }}
{{ m.project_nav(project=project, active='activity', is_admin=current_user.is_admin) }}
{% set search_url = url_for("proofing.project.search", slug=project.slug)  %}

<div class="prose">
<p>We'll add more useful tools here soon. For now, you can <a href="{{
    search_url }}">search the project</a> or edit its metadata:</p>
</div>

{{ components.flash_messages() }}
{{ mf.show_errors_if_any(form.errors) }}

<form method="POST" class="bg-slate-100 p-4">
  {{ form.csrf_token }}
  {{ mf.markdown_field(form.description) }}
  {{ mf.field(form.page_numbers) }}
  {{ mf.field(form.title) }}
  {{ mf.field(form.author) }}
  {{ mf.field(form.editor) }}
  {{ mf.field(form.publisher) }}
  {{ mf.field(form.publication_year) }}

  <input class="btn btn-submit" type="submit" value="Save changes">
</form>

{% endblock %}
