{% extends 'proofing/base-sidebar.html' %}
{% from "macros/forms.html" import field %}
{% import "macros/proofing.html" as m %}


{# Show search results for a given page. #}
{% macro page_results(project, page) %}
{% set page_url = url_for("proofing.page.edit", project_slug=project.slug, page_slug=page.slug) %}
{% for match in page.matches %}
  {% set match_name = "match{}-{}".format(page.slug, match.line_num) %}
  <li class="match my-4 pt-4 flex border-t">
    <label class="p-4">
      <input type="checkbox" name="{{ match_name }}" id="{{ match_name }}"
        value="selected" />
    </label>
    <div>
      <p class="prose text-sm mb-2">
        <a href="{{ page_url }}">{{ project.title }}, page {{ page.slug }}</a>,
        line {{ match.line_num }}
      </p>

      <p class="p-1 bg-slate-50 rounded mb-2" for="{{ match_name }}">{{ match.marked_query|safe }}</p>
      <p class="p-1 bg-slate-50 rounded" for="{{ match_name }}-replace">{{ match.marked_replace|safe }}</p>
      <input type="hidden" name="{{ match_name }}-replace" id="{{ match_name }}-replace"
        value="{{ match.replace }}">
    </div>
  </li>
{% endfor %}
{% endmacro %}


{% block title %}Search and Replace {{ project.title }} | Ambuda{% endblock %}


{% block sidebar %}{{ m.main_nav('projects', current_user=current_user) }}{% endblock %}


{% block content %}
{{ m.project_header_nested('Search and Replace', project) }}
{{ m.project_tabs(project=project, active='edit') }}

<div class="prose">
  <p>Use this simple search and replace form to make edits across this project. The search supports regular expressions.</p>
  <form method="GET" class="bg-slate-100 p-4 my-4">
    {{ field(form.query) }}
    {{ field(form.replace) }}
    <input class="btn btn-submit" type="submit" name="search" value="Show matches">
  </form>
</div>

{% if results %}
<div class="prose">
  <h2>Matches</h2>

  {% if num_matches == 1 %}
  <p>Found {{ num_matches }} matching lines for query <kbd>{{ query }}</kbd>.</p>
  {% else %}
  <p>Found {{ num_matches }} matching lines for query <kbd>{{ query }}</kbd>.</p>
  {% endif %}
</div>

<form method="POST" action="{{ url_for('proofing.project.submit_changes', slug=project.slug) }}">
  {{ submit_changes_form.csrf_token }}
  <input type="hidden" name="query" value="{{ query }}">
  <input type="hidden" name="replace" value="{{ replace }}">

  <div class="match flex items-center bg-slate-100 rounded py-2">
    <label class="px-4">
      <input type="checkbox" name="select-all" id="select-all">
    </label>
    <label for="select-all">Select all {{ num_matches }} matches.</label>
  </div>

  <ul>
  {% for page in results %}
    {{ page_results(project, page) }}
  {% endfor %}
  </ul>

  {% if submit_changes_form %}
    {{ submit_changes_form.submit(class="btn btn-submit") }}
  {% else %}
    <input class="btn btn-submit" type="submit" name="submit" value="Review changes">
  {% endif %}
</form>

<script>
  (function() {
    // Get references to the "select-all" checkbox and all the other checkboxes
    const checkAll = document.querySelector("#select-all");
    const checkboxes = document.querySelectorAll('input[type="checkbox"][name^="match"]');

    // Function to update the visibility of the replaceField element
    function updateReplaceFieldVisibility(checkbox) {
      const replaceField = document.querySelector(`#${checkbox.id}-replace`);
      if (checkbox.checked) {
        replaceField.style.display = "";
      } else {
        replaceField.style.display = "none";
      }
    }

    // Add a change event listener to the "select-all" checkbox
    checkAll.addEventListener("change", function(event) {
      // If the "select-all" checkbox is checked, check all the other checkboxes
      // and update the replaceField visibility
      checkboxes.forEach(function(checkbox) {
        checkbox.checked = event.target.checked;
        updateReplaceFieldVisibility(checkbox);
      });
    });

    // Add change event listeners to each individual checkbox
    checkboxes.forEach(function(checkbox) {
      checkbox.addEventListener("change", function(event) {
        updateReplaceFieldVisibility(event.target);

        // Update the state of the 'select-all' checkbox
        checkAll.checked = Array.from(checkboxes).every(checkbox => checkbox.checked);
      });
    });
  })();
</script>
{% endif %}
{% endblock %}
