{% extends 'proofing/base-sidebar.html' %}
{% from "macros/forms.html" import field %}
{% import "macros/proofing.html" as m %}


{# Show search results for a given page. #}
{% macro search_and_replace_results(project, results) %}
<ul>
  {% for r in results %}
    {% set page_url = url_for("proofing.page.edit", project_slug=project.slug, page_slug=r.page_slug) %}
    <li class="match my-4 pt-4 flex border-t">
      <label class="p-4">
        <input type="checkbox" name="{{ r.form_key }}" id="{{ r.form_key }}"
          value="selected" />
      </label>
      <div>
        <p class="prose text-sm mb-2">
          <a href="{{ page_url }}">Page {{ r.page_slug }}</a>, line {{ r.line_num + 1 }}
        </p>
  
        <p class="p-1 bg-slate-50 rounded mb-2""{{ r.form_key }}">{{ r.marked_query|safe }}</p>
        <p class="p-1 bg-slate-50 rounded">{{ r.marked_replace|safe }}</p>
      </div>
    </li>
  {% endfor %}
</ul>
{% endmacro %}


{% block title %}Search and Replace {{ project.title }} | Ambuda{% endblock %}


{% block sidebar %}{{ m.main_nav('projects', current_user=current_user) }}{% endblock %}


{% block content %}
{{ m.project_header_nested('Search and Replace', project) }}
{{ m.project_tabs(project=project, active='edit') }}

<div class="prose">
  <p>Use this simple search and replace form to make edits across this project. The search supports regular expressions.</p>
  <form method="GET" class="bg-slate-100 p-4 my-4">
    {{ field(form.query) }}
    {{ field(form.replace) }}
    <input class="btn btn-submit" type="submit" name="search" value="Show matches">
  </form>
</div>

{% if query %}
<div class="prose">
  <h2>Matches</h2>

  {% if num_matches == 1 %}
  <p>Found {{ num_matches }} matching line for query <kbd>{{ query }}</kbd>.</p>
  {% else %}
  <p>Found {{ num_matches }} matching lines for query <kbd>{{ query }}</kbd>.</p>
  {% endif %}
</div>
{% endif %}

{% if results %}
<form method="POST" action="{{ url_for('proofing.project.replace_post', slug=project.slug) }}">
  {{ submit_changes_form.csrf_token }}
  <input type="hidden" name="query" value="{{ query }}">
  <input type="hidden" name="replace" value="{{ replace }}">

  <div class="match flex items-center bg-slate-100 rounded py-2">
    <label class="px-4">
      <input type="checkbox" name="select-all" id="select-all">
    </label>
    <label for="select-all">Select all {{ num_matches }} matches.</label>
  </div>

  {{ search_and_replace_results(project, results) }}

  {% if submit_changes_form %}
    {{ submit_changes_form.submit(class="btn btn-submit") }}
  {% else %}
    <input class="btn btn-submit" type="submit" name="submit" value="Review changes">
  {% endif %}
</form>

<script>
  (function() {
    const selectAll = document.querySelector("#select-all");
    const checkboxes = document.querySelectorAll('input[type="checkbox"][name^="match"]');

    selectAll.addEventListener("change", function(event) {
      checkboxes.forEach(function(checkbox) {
        checkbox.checked = event.target.checked;
      });
    });

    // Add change event listeners to each individual checkbox
    checkboxes.forEach(function(checkbox) {
      checkbox.addEventListener("change", function(event) {
        // Update the state of the 'select-all' checkbox
        selectAll.checked = Array.from(checkboxes).every(checkbox => checkbox.checked);
      });
    });
  })();
</script>
{% endif %}
{% endblock %}
