{% extends 'proofing/base.html' %}
{% from "macros/forms.html" import field %}
{% import "macros/proofing.html" as m %}

{% block title %}Search and Replace {{ project.title }} | Ambuda{% endblock %}

{% block content %}

{{ m.project_header_nested('Search and Replace', project) }}
{{ m.project_nav(project=project, active='edit') }}

<div class="prose">
  <h1>Replace</h1>
  <p>Use this simple search and replace form to make edits across this project.</p>
  <form method="POST" class="bg-slate-100 p-4 my-4">
    
    {{ field(form.query) }}
    {{ field(form.replace) }}
    <input class="btn btn-submit" type="submit" name="search" value="Project-wide Search & Replace">
  </form>
</div>

{% if results %}
<div class="prose">
  <h1>Matches</h1>
  {% macro sp(s, p, n) %}{% if n == 1 %}{{ s }}{% else %}{{ p }}{% endif %}{% endmacro %}
  <form method="POST" action="{{ url_for('proofing.project.submit_changes', slug=project.slug) }}" class="bg-slate-100 p-4 my-4">
    {{ submit_changes_form.csrf_token }}
    <input type="hidden" name="query" value="{{ query }}">
    <input type="hidden" name="replace" value="{{ replace }}">

    {% set nr = results|length %}
    <p>Found {{ nr }} {{ sp("page", "pages", nr) }} that {{ sp("contains", "contain", nr) }} <kbd>{{ query }}</kbd>.</p>
    <ul>
    <div class="match">
      <input type="checkbox" name="check-all" id="check-all">
      <label for="check-all">Select all in this page </label>
    </div>
    {% for page in results %}
      {% set page_url = url_for("proofing.page.edit", project_slug=project.slug, page_slug=page.slug) %}
      <li>
          <a href="{{ page_url }}">{{ project.title }}/{{ page.slug }}</a>
          <div class="p-2 border-l my-2">                  
            {% for match in page.matches %}
              <div class="match" style="background-color: rgb(243, 239, 239);">
                <input type="checkbox" name="match{{ page.slug }}-{{ match.line_num }}" id="match{{ page.slug }}-{{ match.line_num }}" value="selected">
                  <p>Page <a href="{{ page_url }}">{{ project.title }}/{{ page.slug }}:</a> Line {{ match.line_num }}</p>
                  <label for="match{{ page.slug }}-{{ match.line_num }}">{{ match.query }}</label>
                  <br>
                  <label for="match{{ page.slug }}-{{ match.line_num }}-replace" style="color: rgb(97, 86, 66); background-color: rgb(219, 215, 215);"> {{ match.replace }} </label>
                  <input type="hidden" name="match{{ page.slug }}-{{ match.line_num }}-replace" id="match{{ page.slug }}-{{ match.line_num }}-replace" value="{{ match.replace }}">
              </div>
              <br>
            {% endfor %}
          </div>
      </li>
    {% endfor %}
    {% if submit_changes_form %}
      {{ submit_changes_form.submit(class="btn btn-submit") }}
    {% else %}
      <input class="btn btn-submit" type="submit" name="submit" value="Submit Changes">
    {% endif %}
  </form>
  </ul>
  <input type="hidden" name="form_submitted" value="1">
  {% endif %}
  
  <script>
    // Get references to the "check-all" checkbox and all the other checkboxes
    const checkAll = document.querySelector('#check-all');
    const checkboxes = document.querySelectorAll('input[type="checkbox"][name$="selected"]');
  
    // Add a change event listener to the "check-all" checkbox
    checkAll.addEventListener('change', function(event) {
      // If the "check-all" checkbox is checked, check all the other checkboxes
      if (event.target.checked) {
        checkboxes.forEach(function(checkbox) {
          checkbox.checked = true;
        });
      }
      // If the "check-all" checkbox is not checked, uncheck all the other checkboxes
      else {
        checkboxes.forEach(function(checkbox) {
          checkbox.checked = false;
        });
      }
    });
  
    // Add change event listeners to each individual checkbox
    checkboxes.forEach(function(checkbox) {
      checkbox.addEventListener('change', function(event) {
        const replaceField = document.querySelector(`#${event.target.id}-replace`);
        if (event.target.checked) {
          replaceField.style.display = '';
        } else {
          replaceField.style.display = 'none';
        }
      });
    });
  </script>
  
</div>

{% endblock %}