{% extends 'proofing/base-project.html' %}
{% import "macros/proofing.html" as m %}


{% block title %}Replace OCR bounding boxes: {{ project.display_title }} | Ambuda{% endblock %}

{% block active_tab %}tools{% endblock %}


{% block content %}
<div class="prose">
  <p>Click the button below to re-run OCR on every page and update only the
  bounding box data. This will not create new revisions or modify page content.</p>

  <form method="POST">
      <input class="btn btn-submit" type="submit" value="{{ _('Replace bounding boxes') }}">
  </form>
</div>
{% endblock %}
