{% extends 'proofing/base.html' %}
{% import "macros/proofing-talk.html" as m_talk %}
{% import "macros/proofing.html" as m %}

{% block title %}{{ project.title }} | Ambuda{% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
    <p class="bg-green-100 my-4 p-2">{{ message }}</p>
    {% endfor %}
  {% endif %}
{% endwith %}

<h1 class="font-bold text-3xl my-4">{{ project.title }}</h1>

{{ m.project_nav(project=project, active='summary') }}

<div class="prose">
  <h2>Pages</h2>
</div>

<ul class="grid grid-cols-5 md:grid-cols-10 gap-2 text-center">
{% for p in project.pages %}
  {% set colors = m.revision_colors(p.status.name) %}
  {% set url = url_for('proofing.pages.edit', project_slug=project.slug, page_slug=p.slug)  %}
  <li>
    <a class="block rounded py-1 {{ colors }}" href="{{ url }}">{{ p.slug }}</a>
  </li>
{% endfor %}
</ul>

<div class="prose">
  <h2>About</h2>
</div>

<a class="my-2 underline text-sm block" href="{{ url_for("proofing.projects.edit", slug=project.slug) }}">Edit this project's information</a>

<div class="bg-slate-100 p-4 w-2/3">
<table class="w-full">
  <tr>
    <th class="text-left">Title</th>
    <td class="text-right">{{ project.title or "(none)" }}</td>
  </tr>
  <tr>
    <th class="text-left">Author</th>
    <td class="text-right">{{ project.author or "(none)" }}</td>
  </tr>
  <tr>
    <th class="text-left">Editor</th>
    <td class="text-right">{{ project.editor or "(none)" }}</td></tr>
  <tr>
    <th class="text-left">Publisher</th>
    <td class="text-right">{{ project.publisher or "(none)" }}</td></tr>
  <tr>
    <th class="text-left">Publication year</th>
    <td class="text-right">{{ project.publication_year or "(none)" }}</td>
  </tr>
</table>
</div>

<div class="prose">
  <h2>Recent discussion</h2>
</div>

{% if project.board.threads[:3] %}
{{ m_talk.thread_list(project.slug, project.board.threads) }}
{% else %}
{% set new_thread = url_for('proofing.talk.create_thread', slug=project.slug) %}
<div class="prose">
    <p>This project doesn't have any ongoing discussion.
    <a href="{{ new_thread }}">Start a new thread?</a>
    </p>
</div>
{% endif %}

<div class="prose">
  <h2>Recent changes</h2>
</div>

{% if recent_revisions %}
{{ m.revision_list(recent_revisions) }}
{% else %}
<p>This project doesn't have any edits yet.</p>
{% endif %}

{% endblock %}
