{% extends 'proofing/base-sidebar.html' %}
{% import "macros/components.html" as components %}
{% import "macros/proofing-talk.html" as m_talk %}
{% import "macros/proofing.html" as m %}


{% block title %}{{ project.title }} | Ambuda{% endblock %}


{% block sidebar %}{{ m.main_nav('projects', current_user=current_user) }}{% endblock %}


{% block content %}
<h1 class="font-bold text-3xl mb-4">{{ project.title }}</h1>
{{ m.project_tabs(project=project, active='summary', is_mod=current_user.is_moderator) }}

{% if project.description %}
<div class="prose">
  <h2>{{ _('Description') }}</h2>
  <blockquote>
  {{ project.description|markdown|safe }}
  </blockquote>
</div>
{% endif %}

<div class="prose">
  <h2>{{ _('Pages') }}</h2>
</div>

<ul class="grid grid-cols-5 md:grid-cols-10 gap-2 text-center">
{% for page_title, p in pages %}
  {% set colors = m.revision_colors(p.status.name) %}
  {% set url = url_for('proofing.page.edit', project_slug=project.slug, page_slug=p.slug)  %}
  <li>
    <a class="block rounded py-1 {{ colors }}" href="{{ url }}">{{ page_title }}</a>
  </li>
{% endfor %}
</ul>

<div class="prose">
  <h2>{{ pgettext("project", "About") }}</h2>
</div>

<div class="bg-slate-100 p-4 w-2/3">
<table class="w-full">
  <tr>
    <th class="text-left">{{ _('Title') }}</th>
    <td class="text-right">{{ project.title or _("(none)") }}</td>
  </tr>
  <tr>
    <th class="text-left">{{ _('Author') }}</th>
    <td class="text-right">{{ project.author or _("(none)") }}</td>
  </tr>
  <tr>
    <th class="text-left">{{ _('Editor') }}</th>
    <td class="text-right">{{ project.editor or _("(none)") }}</td></tr>
  <tr>
    <th class="text-left">{{ _('Publisher') }}</th>
    <td class="text-right">{{ project.publisher or _("(none)") }}</td></tr>
  <tr>
    <th class="text-left">{{ _('Publication year') }}</th>
    <td class="text-right">{{ project.publication_year or _("(none)") }}</td>
  </tr>
</table>
</div>

<div class="prose">
  <h2>{{ _('Recent discussion') }}</h2>
</div>

{% if project.board.threads[:3] %}
{{ m_talk.thread_list(project.slug, project.board.threads) }}
{% else %}
{% set new_thread_url = url_for('proofing.talk.create_thread', slug=project.slug) %}
<div class="prose">
  <p>{% trans %}
  This project doesn't have any ongoing discussion.
  <a href="{{ new_thread_url }}">Start a new thread?</a>
  {% endtrans %}</p>
</div>
{% endif %}

<div class="prose">
  <h2>{{ _('Recent changes') }}</h2>
</div>

{% if recent_revisions %}
{{ m.revision_list(recent_revisions) }}
{% else %}
<p>{{ _("This project doesn't have any edits yet.") }}</p>
{% endif %}

{% endblock %}
