{% extends 'base-text.html' %}
{% import 'macros/dictionaries.html' as m %}

{% block title %}Dictionaries | Ambuda{% endblock %}

{% block content %}
<h1 class="text-xl font-bold my-4">Dictionary lookup</h1>

{{ m.dict_form() }}

<div id="mw-response">
  <div class="prose">
  <p>Our fast and simple dictionary tool provides an interface to four
  popular dictionaries. It auto-detects most common input schemes, including
  Devanagari, IAST, Harvard-Kyoto, SLP1, Kannada, Telugu, and so on.</p>

  <p>Note: the <cite>śabdakalpadruma</cite> and the Apte dictionary sometimes
  expect complete words (e.g. <kbd>naraH</kbd>, <kbd>rAjA</kbd>).</p>
  </div>
</div>

{% endblock %}
