{% macro dictionary_history() %}
<div class="text-sm my-4 pb-2 border-b text-slate-500
     flex items-start justify-between"
     x-cloak x-show="history.length">
  <div class="flex flex-1 overflow-hidden">
    <h3 class="font-bold mb-2">{{ _('History:') }}</h3>
    <ul class="a-hover-underline flex">
      <template x-for="q in history.slice().reverse()">
        <li class="px-1">
          <a href="#" x-text="q" @click.prevent="searchFor(q)"></a>
        </li>
      </template>
    </ul>
  </div>
  <button class="btn btn-basic text-xs !p-0.5" @click.prevent="clearHistory">
    Clear
  </button>
</div>
{% endmacro %}
