{% extends 'about/people/base.html' %}
{% import "macros/about.html" as m_about %}
{% import "macros/components.html" as m %}


{% macro bio(name, resp, desc) %}
<section>
  <h1 class="mb-2 mt-8"><span class="font-bold">{{ name }}</span> &mdash; {{ resp|safe }}</h1>
  <div class="prose">
  {{ caller() }}
  </div>
</section>
{% endmacro %}


{% block title %}{{ m.title(_('People')) }}{% endblock %}


{% block people_content %}
{{ m_about.people_tabs('core') }}

<div class="prose">
<p>{% trans %}
Our core team builds and maintains the overall project.
{% endtrans %}</p>
</div>


{# Bios are in alphabetical order, which is simple and non-political. #}

{% call bio(_("Arun Prasad"), _("Founder and Project Lead")) %}
{% set lso = "https://learnsanskrit.org" %}
{% set amarahasa = "https://en.amarahasa.com" %}
<p>{% trans %}
Arun is the creator of <a href="{{ lso }}">learnsanskrit.org</a> and the
Sanskrit short story project <a href="{{ amarahasa }}">Amarahasa</a>.
Broadly, his work explores how software and digital tools can make Sanskrit
literature universally accessible. Arun has an MS in Computer Science and a
minor in Classics with a focus on Homeric Greek, both from Stanford University.
By profession, he is a former Google Research engineer that works in climate
fintech.
{% endtrans %}</p>
{% endcall %}


{% call bio(_("Ashwin Ramaswami"), _("Core Engineering")) %}
<p>{% trans %}
Ashwin has worked on a variety of projects around open source software
development, digital humanities, cloud infrastructure and architecture, and
cybersecurity. His interests in Sanskrit include Vedic texts and Vedantic
commentaries. Ashwin holds a B.S. in Computer Science from Stanford University
and is currently pursuing a J.D. degree at Georgetown University Law Center,
where he works on technology law and policy.
{% endtrans %}</p>
{% endcall %}


{% set sf = "http://www.saraswatifilms.org/" %}
{% call bio(_("Kishore Chitrapu"), _("Core Engineering")) %}
<p>{% trans %}
Kishore contributes to <a href="{{ sf }}">Saraswati Films</a> and related
projects. He is interested in learning methods and building free tools for
sādhanā and sustainable living. He enjoys learning from Vedic wisdom.
Professionally, he works as a Director of Engineering and is currently building
finance data platforms. Finally, Kishore enjoys any time with his family and
friends and is grateful for their support.
{% endtrans %}</p>
{% endcall %}


{% set schmidt = "https://schmidtsciencefellows.org/fellow/suhas-mahesh/" %}
{% set rhodes = "https://www.rhodeshouse.ox.ac.uk/scholars/rhodes-scholars-class-of-2016/suhas-mahesh/" %}

{% call bio(_("Suhas Mahesh"), _("Text Curation and Sourcing")) %}
<p>{% trans %}
Suhas Mahesh is a <a href="{{ schmidt }}">Schmidt Science Fellow</a> at the
University of Toronto, where his research explores building bespoke materials
for a low-carbon future. Suhas has a PhD in physics from the University of
Oxford, where he was a <a href="{{ rhodes }}">Rhodes scholar</a>. Suhas is a
expert on Sanskrit and Prakrit literature, and his current projects include an
anthology of Sanskrit and Prakrit love poetry in translation (HarperCollins
2023), and a translation of the <cite>Nilakantha-vijaya-champu</cite>, an
ornate retelling of the myth of the churning of the ocean (Murty Classical
Library of India).
{% endtrans %}</p>
{% endcall %}
{% endblock %}
