<header class="p-4 mb-4 border-b flex justify-between items-center a-hover-underline text-sky-900 bg-slate-100">
  <div class="flex items-center">
    <a class="font-bold text-lg" href="{{ url_for('site.index') }}">Ambuda</a>
    <a class="block ml-4 md:ml-8" href="{{ url_for('texts.index') }}">Texts</a>
    <a class="block ml-4 md:ml-8" href="{{ url_for('dictionaries.index') }}">Dictionaries</a>
    <a class="hidden md:block ml-4 md:ml-8" href="{{ url_for('proofing.index') }}">Proofing</a>
  </div>
  <div>
    <a href="{{ url_for('about.index') }}">About</a>
  </div>
</header>
