{# Header with layout but no color. Apply color in a wrapping parent element. #}
{# https://css-tricks.com/snippets/svg/svg-hamburger-menu/ #}
{% macro hamburger() %}
<svg viewBox="0 0 100 80" width="20" height="20">
  <rect width="100" height="10"></rect>
  <rect y="30" width="100" height="10"></rect>
  <rect y="60" width="100" height="10"></rect>
</svg>
{% endmacro %}

<nav class="md:flex justify-between items-center a-hover-underline">
  <div class="flex justify-between items-center">
    <a class="p-4 font-bold text-lg" href="{{ url_for('site.index') }}">{{ _('Ambuda') }}</a>
    <div class="block p-4 md:hidden">
      <button id="hamburger" type="button">{{ hamburger() }}</button>
    </div>
  </div>
  <ul id="navbar" class="hidden md:flex">
    <li><a class="block p-4 py-2" href="{{ url_for('texts.index') }}">{{ _('Texts') }}</a></li>
    <li><a class="block p-4 py-2" href="{{ url_for('padmini.index') }}">{{ _('Padmini') }}</a></li>
    <li><a class="block p-4 py-2" href="{{ url_for('proofing.index') }}">{{ _('Proofing') }}</a></li>
    <li><a class="block p-4 py-2" href="{{ url_for('site.donate') }}" target="_blank">{{ _('Donate') }}</a></li>
  </ul>
</nav>
