{% macro progress_bar(percent) %}
<div class="my-4 rounded w-full bg-slate-100 h-4">
  <div class="rounded bg-green-300 h-4" style="width: {{ percent }}%">&nbsp;</div>
</div>
{% endmacro %}

{# kwargs: current, total, percent #}
{% if total == 0 %}
  {{ progress_bar(0) }}
  <p>Beginning upload &hellip;</p>
{% elif current < total %}
  {{ progress_bar(percent) }}
  <p>Processed {{ current }} of {{ total }} total pages.</p>
{% else %}
  {{ progress_bar(100) }}
  {% if slug %}
  <p>Upload complete. <a href="{{ url_for('proofing.projects.summary',
      slug=slug) }}">Click here</a> to view your new project.</p>
  {% else %}
  <p>Upload complete. Your project will be available on the <a href="{{
      url_for('proofing.index') }}">main page</a> shortly.</p>
  {% endif %}
{% endif %}
