{% extends 'proofing/base.html' %}
{% import "macros/proofing.html" as m %}
{% import "macros/proofing-talk.html" as m_talk %}
{% from "macros/forms.html" import field %}

{% block title %}Talk: {{ project.title }} | Ambuda{% endblock %}

{% block content %}
{{ m.project_header_nested('Talk', project) }}
{{ m.project_nav(project=project, active='talk', is_admin=current_user.is_admin) }}

<div class="my-4">
<a class="btn btn-basic" href="{{ url_for('proofing.talk.create_thread', slug=project.slug) }}">Create thread</a>
</div>

{% if board.threads %}
{{ m_talk.thread_list(project.slug, board.threads) }}
{% else %}
<p>This project doesn't have any ongoing discussion.</p>
{% endif %}

{% endblock %}
