{% extends 'proofing/base.html' %}
{% import "macros/proofing.html" as m %}
{% import "macros/forms.html" as mf %}

{% block title %}Create thread on {{ project.title }} | Ambuda{% endblock %}

{% block content %}
{% set url = url_for('proofing.talk.thread', project_slug=project.slug, thread_id=thread.id) %}
{{ m.nested_header('Create post', thread.title, url) }}

{{ mf.show_errors_if_any(form.errors) }}

<form method="POST">
  {{ form.csrf_token }}
  {{ mf.markdown_field(form.content) }}
  <input type="submit" class="btn btn-submit" value="Create post">
</form>

{% endblock %}
