{% extends 'proofing/base-sidebar.html' %}
{% import "macros/forms.html" as mf %}
{% import "macros/proofing.html" as m %}
{% import "macros/talk.html" as m_talk %}


{% block title %}Create thread on {{ project.title }} | Ambuda{% endblock %}


{% block sidebar %}{{ m.main_nav('talk') }}{% endblock %}


{% block content %}
<div class="prose">
  <h1>{{ project.title }} &mdash; create thread</h1>
</div>

{{ mf.show_errors_if_any(form.errors) }}

<form method="POST" class="p-4 bg-slate-100">
  {{ form.csrf_token }}
  {{ mf.field(form.title) }}
  {{ mf.label(form.content.label) }}
  {{ m_talk.post(form.content) }}
  <input type="submit" class="btn btn-submit" value="{{ _('Create thread') }}">
</form>

{% endblock %}
