{% extends 'proofing/base-sidebar.html' %}
{% import "macros/proofing.html" as m %}
{% import "macros/talk.html" as m_talk %}
{% import "macros/forms.html" as mf %}


{% block title %}Create post on {{ project.display_title }} | Ambuda{% endblock %}


{% block sidebar %}{{ m.main_nav('talk', current_user=current_user) }}{% endblock %}


{% block content %}
{% set url = url_for('proofing.talk.thread', project_slug=project.slug, thread_id=thread.id) %}
{{ m.nested_header('Create post', thread.title, url) }}

{{ mf.show_errors_if_any(form.errors) }}

<form method="POST">
  {{ form.csrf_token }}
  {{ m_talk.post(form.content) }}
  <input type="submit" class="btn btn-submit" value="Create post">
</form>

{% endblock %}
