{% extends 'proofing/base.html' %}
{% import "macros/proofing.html" as m %}
{% import "macros/talk.html" as m_talk %}
{% from "macros/forms.html" import field, show_errors_if_any %}

{% block title %}Create thread on {{ project.title }} | Ambuda{% endblock %}

{% block content %}
{% set url = url_for('proofing.talk.thread', project_slug=project.slug, thread_id=thread.id) %}
{{ m.nested_header('Edit post', thread.title, url) }}

{{ show_errors_if_any(form.errors) }}

<form method="POST" class="p-4 bg-slate-100">
  {{ form.csrf_token }}
  {{ m_talk.post(form.content) }}
  <input type="submit" class="btn btn-submit" value="Save edits">
</form>

{% endblock %}
