{% extends 'proofing/base-sidebar.html' %}
{% import "macros/proofing.html" as m %}
{% from "macros/forms.html" import field, show_errors_if_any %}


{# Show a single post. #}
{% macro post(post, current_user) %}
<article class="border-b py-4 mx-4">
  {% set username = post.author.username %}
  <div class="text-sm mb-2 text-slate-500 a-hover-underline flex justify-between">
    <div>
      <a class="font-bold" href="{{ url_for("proofing.user.user", username=username) }}">{{ username }}</a>
      &#xb7; {{ post.created_at|time_ago }}
      {% if (post.updated_at - post.created_at).seconds > 600 %}
      <span class="italic">(edited {{ post.updated_at|time_ago }})</span>
      {% endif %}
    </div>
    <div>
      {% if current_user.username == username %}
      {% set url = url_for('proofing.talk.edit_post', project_slug=project.slug,
          thread_id=thread.id, post_id=post.id)  %}
      <a class="text-slate-400" href="{{ url }}">edit</a>
      {% endif %}
    </div>
  </div>
  <div class="prose">
  {{ post.content|markdown|safe }}
  </div>
</article>
{% endmacro %}


{% block title %}{{ thread.title }} | Ambuda{% endblock %}


{% block sidebar %}{{ m.main_nav('talk') }}{% endblock %}


{% block content %}
{{ m.project_header_nested("Talk", project) }}
{{ m.project_nav(project=project, active='talk', is_admin=current_user.is_admin) }}

<header class="flex justify-between items-center bg-slate-100 p-4">
  <h1 class="text-xl font-bold">{{ thread.title }}</h1>
  <p class="text-slate-500">Started {{ thread.updated_at|time_ago }}</p>
</header>

<div class="break-words">
{% for p in thread.posts %}
  {{ post(p, current_user) }}
{% endfor %}
</div>

<div class="mt-8 ml-4">
<a href="{{ url_for('proofing.talk.create_post', project_slug=project.slug, thread_id=thread.id) }}" class="btn btn-submit">Add a post</a>
</div>

{% endblock %}
