{% extends 'base-text.html' %}
{% import "macros/components.html" as m %}


{% block title %}{{ m.title(_('Code and Data')) }}{% endblock %}


{% block meta_description %}All of the resources we used to build Ambuda.{% endblock %}


{% set code_url = 'https://github.com/ambuda-org/ambuda' %}
{% set host_url = 'https://digitalocean.com' %}

{% set gretil = "http://gretil.sub.uni-goettingen.de/gretil.html" %}
{% set smith = "https://bombay.indology.info/" %}
{% set cdsd = "https://www.sanskrit-lexicon.uni-koeln.de" %}
{% set samsaadhanii = "https://github.com/samsaadhanii/scl" %}
{% set indic_dict = "https://github.com/indic-dict" %}
{% set dcs = "http://sanskrit-linguistics.org/dcs/" %}


{% block content %}
<div class="prose">
<h1>{{ _('Code and Data') }}</h1>

<p>{% trans %}
All of our code is available <a href="{{ code_url }}">on GitHub</a>. We use
Python (Flask) for the backend, Tailwind for CSS, and native JavaScript for the
rest. Our site is hosted <a href="{{ host_url }}">on DigitalOcean</a>.
{% endtrans %}</p>

<p>{% trans %}
Much of our text data comes from <a href="{{ gretil }}">GRETIL</a>.
For the <cite>Ramayana</cite> and <cite>Mahabharata</cite> specifically, we
instead use the "official" electronic versions hosted on <a href="{{ smith
}}">John D. Smith's website</a>. As our project grows, we will include other
sources of textual data and even generate texts on our own.
{% endtrans %}</p>

<p>{% trans %}Dictionary data comes from various sources:{% endtrans %}</p>

<ul>
  <li>Most of our dictionary data comes from the <a href="{{ cdsd }}">Cologne
    Digital Sanskrit Dictionaries</a> project.
  <li>Our Sanskrit-Hindi dictionary comes from Professor Amba Kulkarni's <a
    href="{{ samsaadhanii }}">Samsaadhanii</a> project.</li>
  <li>All other dictionary data comes from the <a href="{{ indic_dict
    }}">indic-dict</a> project.</li>
</ul>

<p>{% trans %}
Parse data comes from the <a href="{{ dcs }}">Digital Corpus of Sanskrit</a>
(DCS) project.
{% endtrans %}</p>

</div>
{% endblock %}
