{% extends 'base-text.html' %}
{% import "macros/components.html" as m %}


{% set mailing_url = 'https://groups.google.com/g/learnsanskrit-announce' %}
{% set code_url = 'https://github.com/ambuda-org/ambuda' %}
{% set contact_url = url_for('about.contact') %}


{% macro link(route, title) %}
<li><a href="{{ url_for(route) }}">{{ title }}</a></li>
{% endmacro %} 


{% block title %}{{ m.title(_('About')) }}{% endblock %}


{% block header %}
{{ m.basic_header(_('About')) }}
{% endblock %}


{% block content %}
<div class="prose">
<p>{% trans %}
Ambuda's mission is to make the Sanskrit tradition universally accessible. Formal
work on Ambuda began on 1 June 2022, but our team of volunteers has been
dreaming of such a project for years.
{% endtrans %}</p>

<p>{% trans %}
<a href="{{ mailing_url }}">Our mailing list</a> shares regular updates on
Ambuda and our other Sanskrit projects. <a href="{{ code_url }}">Our code</a>
is all on GitHub, and we eagerly welcome contributors of all backgrounds. For
all other inquiries, please <a href="{{ contact_url }}">reach out to us
directly</a>.
{% endtrans %}</p>

<ul>
  {{ link('about.mission', _('Mission')) }}
  {{ link('about.values', _('Values')) }}
  {{ link('about.people.index', _('People')) }}
  {{ link('about.code_and_data', _('Code and Data')) }}
  {{ link('about.name', _('Our Name')) }}
  {{ link('about.contact', _('Contact')) }}
</ul>
</div>
{% endblock %}
