{% extends 'base-text.html' %}

{% block title %}Mission | Ambuda{% endblock %}

{% block meta_description -%}
Ambuda's mission is to make the Sanskrit tradition radically accessible. Learn
more about what this means specifically.
{%- endblock %}

{% block content %}
<div class="prose">
<h1>Mission</h1>

<p>Ambuda's mission is to make the Sanskrit tradition radically accessible.

<p>Specifically, we have three goals:

<ol>
  <li>Create <strong>a complete archive</strong> of traditional Sanskrit
      literature.</li>

  <li>Publish this archive in <strong>an open format</strong>.</li>

  <li>Integrate this archive with <strong>intelligent tools</strong> for
      students and scholars.</li>
</ol>

<p>A complete archive, in an open format, with intelligent tools.
That's what Ambuda is for.</p>


<h2>A complete archive</h2>

<p>The Sanskrit corpus is vast. Conservative estimates suggest that there at
least 30 million surviving Sanskrit manuscripts. While many of these
manuscripts are near-duplicates of each other, they still imply a literature
that is rich and overflowing.</p>

<p>Of these manuscripts, only a few are available as published books. Of these
books, only a few are available as digital scans. Of these scans, only a few
are available as machine-readable text files. And of these files, only a few
are reliable and error-free.</p>

<p>There are dozens of online Sanskrit archives that have made sincere efforts
to preserve and display some of this vast literature. We are deeply grateful to
our predecessors and their work. But sadly, creating a complete archive is
a massive and multidisciplinary project, and it requires resources that most
projects lack.</p>

<p>We believe that our collective engineering skill can drastically cut the
cost of publishing these texts. By doing so, we hope to succeed at this massive
task and build an archive that is as complete as possible.</p>


<h2>An open format</h2>

<p>A complete archive is no use if it is difficult to access. We must publish
this archive as openly as we can and remove the tedious barriers that separate
Sanskrit readers from the content they desire.

<p>More concretely, we publish our texts on a free and public website under
permissive licensing. We ensure that our texts are delightfully readable on a
variety of devices. We share our work freely so that users can take what we
produce and use it for their own needs, whatever they might be.

<p>In the long term, our website will be available in dozens of languages, so
that readers who don't know English very well can still access and enjoy our
collection.


<h2>Intelligent tools</h2>

<p>Intelligent tools can remove much of the pointless toil that Sanskrit
readers often endure and thereby make the archive more accessible to all.

<p>For curious beginners, our support for side-by-side translations will make
it easy to follow along with a Sanskrit text and appreciate the literature.

<p>For Sanskrit learners, our tools will automatically produce a word-by-word
analysis for every text in our collection. Integrated dictionary support will
allow readers to look up words in their favorite dictionary in less than a
second. Sophisticated analysis tools will provide contextual grammar
explanations that make paper grammar books almost obsolete.

<p>For more advanced readers, our richly hyperlinked corpus will make it easy
to explore connections between different texts and traditions. Full-text search
and other dynamic features will give readers powerful tools for exploring the
entire Sanskrit tradition.
</div>
{% endblock %}
