{% extends 'base-text.html' %}

{% block title %}Our Name | Ambuda{% endblock %}

{% block content %}
<div class="prose">
<h1>Our Name</h1>

<p>In July 2013, we prototyped a website where people could collaboratively
transcribe Sanskrit texts. Since the platform would store texts in a digital
cloud and create texts from a metaphorical cloud of human activity, we called
the project "Ambuda," which is one of the many Sanskrit words for "cloud."

<p>Work ended on that prototype two weeks later, and little of it survives
today. But when we started work on the project you see before you now, we
needed a name, and we were happy to reuse the name "Ambuda" and move on.

<p>Although we chose this name purely out of convenience, it has an unexpected
resonance ({{ 'dhvani' | devanagari }}) that makes it well-suited to this
project.

<p>As a practical name, "Ambuda" is short and memorable, and it was available
as a domain name. It is non-sectarian and easy for people around the world to
say and spell correctly. On these grounds alone, it is a fine name.

<p>As a Sanskrit word, it is simple and delightful to the ear. As Krishna says
in the <cite>Bhagavad Gita</cite>, <q>Of sounds, I am <i>a</i>.</q> Thus Ambuda
starts auspiciously from its very first sound.

<p>As a poetic symbol, the cloud is rich and evocative. The clouds mark the
beginning of the monsoon season and bring life-giving rain to the parched land.
In the Vedas, the cloud is the vehicle of Indra, the king of the devas. In the
epics, Krishna is said to be as dark as the clouds.

<p>We could say even more &mdash; but we will stop here for now.
</div>

<blockquote class="text-2xl my-8 pl-8">
  <p>
    {{ 'dhUmajyotiHsalilamarutAM saMnipAtaH kva meghaH'|devanagari }}<br>
    {{ 'saMdezArthAH kva paTukaraNaiH prANibhiH prApaNIyAH |'|devanagari }}<br>
    {{ 'ityautsukyAdaparigaNayanguhyakastaM yayAce'|devanagari }}<br>
    {{ 'kAmArtA hi prakRtikRpaNAzcetanAcetanezu ||'|devanagari }}<br>
</blockquote>

</div>
{% endblock %}
