{% extends 'base-text.html' %}

{% block title %}People | Ambuda{% endblock %}

{% block content %}
<div class="prose">
<h1>People</h1>

<p>Ambuda is run by volunteers who are passionate about making Sanskrit
accessible to all.</p>

<p><b>Arun Prasad</b> (Founder) &mdash; Arun is the creator of
<a href="https://learnsanskrit.org">learnsanskrit.org</a> and the Sanskrit
short story project <a href="https://en.amarahasa.com">Amarahasa</a>. He has an
MS in Computer Science and a minor in Classics, both from Stanford University.
Arun is a former Google Research engineer and works professionally in climate
fintech.</p>

</div>
{% endblock %}
