{% extends 'base-text.html' %}

{% block title %}Roadmap | Ambuda{% endblock %}

{% block content %}
<div class="prose">
<h1>Roadmap</h1>

<p>Loosely, our project has four phases. Polishing each of these phases is an
unending task, but even a "good enough" version of each phase is valuable and
useful.</p>

<p>The phases are as follows:</p>

<ol>
  <li><p><strong>A delightful user interface.</strong> We will create a simple
      and attractive website that works across devices. Most of the work is in
      overall design, with a few smart features such as an integrated
      dictionary and on-demand transliteration to other scripts.</p></li>

  <li><p><strong>A smart reading environment.</strong> Once the basic reading
      experience satisfies, we will integrate more and more assistive tooling
      for learners. At a minimum, we will support sandhi splitting and
      word-by-word analysis for at least 50% of the texts in our archive.</p>

  <li><p><strong>A publishing platform.</strong> Once our project becomes the
      <em>de facto</em> way to read Sanskrit online, we will build out an
      end-to-end publishing platform that supports collaborative work on
      transcription and proofreading.</p></li>

  <li><p><strong>A complete archive.</strong> With these three phases in place,
      what remains is the real work: gathering, transcribing, proofreading, and
      publishing all of Sanskrit.</p></li>

</ol>

<p>Roughly, we expect to complete phase 1 in days, phase 2 in weeks, phase 3 in
months, and phase 4 in years.</p>

<p>Our project is currently in <strong>phase 2</strong>.</p>
{% endblock %}
