{% extends 'base-text.html' %}

{% block title %}Values | Ambuda{% endblock %}

{% block content %}
<div class="prose">
<h1>Values</h1>

<p>Ambuda's mission is to make the Sanskrit tradition radically accessible.
This simple mission flows naturally from our values.


<h2>Sanskrit as human heritage</h2>

<p>Sanskrit literature is part of our collective human heritage, and we want to
make it accessible to as many people as we can.

<p>We release the texts in our archive under permissive licenses, with a public
domain license being ideal. Our texts are available in open file formats that
any computer can use and understand. Our code and our data are likewise
available under permissive licenses, so that anyone can build on our work.

<p>Further, we use technology to reduce or remove as many barriers to access as
we can. We make it easy to find texts and commentaries, analyze grammar, define
words, and explore connections between different works. We will pave a royal
road straight to the heart of the tradition, so that anyone can access and
appreciate it.

<p>As much as possible, we make our team's work transparent to the public. Our
team discussion and planning documents are freely available to all who want to
see them, and everyone is welcome to join our team and contribute to our
mission. We are grateful to all who do.


<h2>Audacious ambition</h2>

<p>In every aspect of our work, we will aim as high as we possibly can.

<p>We aim to become the largest and most reliable Sanskrit archive in the
world. We aim to set the standard for digital humanities projects everywhere.
We aim to build a service so outstanding that it fundamentally changes how
people read ancient literature.

<p>In short, we aim to build something worthy of Sanskrit itself.


<h2>Incremental effort</h2>

<p>Great ambition is pointless if it never touches reality. Rather than aim for
perfection, we simply focus on taking the next step.

<p>Along the way, we might make mistakes and false steps. Our first efforts
might be crude and disappointing. But bit by bit, we continue on.


{% endblock %}
