{% extends 'base-text.html' %}
{% import "macros/components.html" as m %}


{% block title %}{{ m.title(_('Values')) }}{% endblock %}


{% block content %}
<div class="prose">
<h1>{{ _('Values') }}</h1>

<p>{% trans %}
Ambuda's mission is to make the Sanskrit tradition radically accessible. This
simple mission flows naturally from our values.
{% endtrans %}</p>


<h2>{{ _('Sanskrit as human heritage') }}</h2>

<p>{% trans %}
Sanskrit literature is part of our collective human heritage, and we want to
make it accessible to as many people as we can.
{% endtrans %}</p>

<p>{% trans %}We release the texts in our archive under permissive licenses,
with a public domain license being ideal. Our texts are available in open file
formats that any computer can use and understand. Our code and our data are
likewise available under permissive licenses, so that anyone can build on our
work.
{% endtrans %}</p>

<p>{% trans %}
Further, we use technology to reduce or remove as many barriers to access as we
can. We make it easy to find texts and commentaries, analyze grammar, define
words, and explore connections between different works. We will pave a royal
road straight to the heart of the tradition, so that anyone can access and
appreciate it.
{% endtrans %}</p>

<p>{% trans %}
As much as possible, we make our team's work transparent to the public. Our
team discussion and planning documents are freely available to all, and
everyone is welcome to join our team and contribute to our mission. We are
grateful to all who do.
{% endtrans %}</p>


<h2>{{ _('Audacious ambition') }}</h2>

<p>{% trans %}
In every aspect of our work, we will aim as high as we possibly can.
{% endtrans %}</p>

<p>{% trans %}
We aim to become the largest and most reliable Sanskrit archive in the world.
We aim to set the standard for digital humanities projects everywhere. We aim
to build a service so outstanding that it fundamentally changes how people read
ancient literature. In short, we aim to build something worthy of Sanskrit
itself.
{% endtrans %}</p>



<h2>{{ _('Incremental effort') }}</h2>

<p>{% trans %}
Great ambition is pointless if it never touches reality. Rather than aim for
perfection, we simply focus on taking the next step.
{% endtrans %}</p>

<p>{% trans %}
Along the way, we might make mistakes and false steps. Our first efforts might
be crude and disappointing. But bit by bit, we continue on.
{% endtrans %}</p>


{% endblock %}
