name: 'Basic (Unit) Tests'

# **What it does**: Setups up python dependencies and runs tests.
# **Why we have it**: Automatically run tests to ensure code doesn't introduce regressions.
# **Who does it impact**: Python small-scale "unit" tests.

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

# This allows a subsequently queued workflow run to interrupt previous runs
concurrency:
  group: '${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}'
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Python3
        uses: actions/setup-python@v4
        with:
          python-version: '3.9.x'
          cache: 'pip'
          cache-dependency-path: requirements.txt

      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'npm'

      - name: Install dependencies
        run: |
          python3 -m pip install -r requirements.txt
          npm ci
      
      - name: Lint
        run: make lint-check
  
      - name: Build docs
        run: make docs

  docker-setup:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      
      - name: Build and run Docker images
        run: docker-compose up --build --force-recreate -d

      - name: Wait for the site to start up
        run: wget -qO- https://raw.githubusercontent.com/eficode/wait-for/$WAIT_FOR_VERSION/wait-for | sh -s -- localhost:5000 -- echo "Site is up"
        env:
          WAIT_FOR_VERSION: 4df3f9262d84cab0039c07bf861045fbb3c20ab7 # v2.2.3

      - name: Check that site is running
        run: curl --fail-with-body localhost:5000
        
      - name: Show logs on fail
        if: ${{ failure() }}
        run: docker logs ambuda_app_1

  run-py-tests:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Python3
        uses: actions/setup-python@v4
        with:
          python-version: '3.9.x'
          cache: 'pip'

      - name: Install dependencies
        run: python3 -m pip install -r requirements.txt

      - name: Run Tests
        run: make coverage
      
      - name: Check coverage
        run: coverage report --fail-under=80

  run-js-tests:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'npm'

      - name: Install Node dependencies
        run: npm ci
      
      - name: Run tests and check coverage
        run: make js-coverage
