{# Create prev/next navigation #}
{% macro paginate_link(text, section, display_text) %}
{% set base = "rounded text-2xl h-12 w-12 leading-[3rem] text-center" %}
{% if section %}
  {% set url = url_for('texts.section', text_slug=text.slug, section_slug=section.slug) %}
  <a class="js--paginate {{ base }} hover:bg-zinc-100" href="{{ url }}"> {{ display_text | safe }}</a>
{% else %}
<span class="{{ base }} text-zinc-300">{{ display_text | safe }}</span>
{% endif %}
{% endmacro %}

{# Header #}
{% set url = url_for('texts.text', slug=text.slug) %}
<div lang="sa" class="mb-32">
  <header class="mt-8 pb-4 font-bold border-b">
    <div class="text-center">
      {% if prev or next %}
        <h1 class="text-2xl md:text-4xl">{{ section.title | devanagari }}</h1>
        <a class="block text-sm hover:text-green-600" href="{{ url }}">
          {{ text.title | devanagari }}
        </a>
      {% else %}
        <h1 class="text-2xl md:text-4xl">{{ text.title | devanagari }}</h1>
      {% endif %}
    </div>
  </header>

  {% if has_no_parse %}
  <p lang="en" class="text-center text-xs text-zinc-400 mt-2 mb-4">This text
  does not support clickable word meanings.</p>
  {% else %}
  <p lang="en" class="text-center text-xs text-zinc-400 mt-2 mb-4">Click on words to see what they mean.</p>
  {% endif %}
  {{ content | safe }}
</div>

{# z-50 so that the footer renders on top of the sidebar. #}
<footer class="flex items-center justify-between fixed bg-white left-0 right-0 bottom-0 h-12 border-t z-50">
<div class="text-sm pl-4">
  <a class="hover:underline"
      href="{{ url_for('texts.text', slug=text.slug) }}">
      {{ text.title | devanagari }}
  </a>
  {{ section.title | devanagari }}
</div>
<div class="flex items-center">
  <div class="hidden md:inline text-sm border-r px-4">
    <span>Font Size:</span>
    <select id="switch-font-size" class="p-1">
      {% include 'include/font-size-options.html' %}
    </select>
  </div>
  <div class="text-sm border-r px-4">
    <span class="hidden md:inline">Script:</span>
    <select id="switch-sa" class="p-1">
      {% include 'include/script-options.html' %}
    </select>
  </div>
  {% if not has_no_parse %}
  <div class="hidden md:inline text-sm border-r px-4">
    <span>Parsed View:</span>
    <select id="switch-parse-options" class="p-1">
      {% include 'include/parse-options.html' %}
    </select>
  </div>
  {% endif %}
  {{ paginate_link(text, prev, '&laquo;') }}
  {{ paginate_link(text, next, '&raquo;') }}
</div>
</footer>
