{# Create prev/next navigation #}
{% macro paginate_link(section, display_text) %}
<div>
{% if section %}
  {% set url = url_for('texts.section', text_slug=text.slug, section_slug=section.slug) %}
  {# text--paginate defined only as a JS hook #}
  <a class="text--paginate sticky top-6 text-zinc-400 rounded hover:bg-zinc-100 p-4" href="{{ url }}">{{ display_text | safe }}</a>
  {% else %}
  <span class="p-4">&nbsp;</span>
{% endif %}
</div>
{% endmacro %}

{% macro section_title(text, section) %}
  <div class="text-center">
    {% set url = url_for('texts.text', slug=text.slug) %}
    <span class="text-2xl md:text-4xl">{{ section.title | devanagari }}</span>
    <a class="block text-sm hover:underline" href="{{ url }}">
      {{ text.title | devanagari }}
    </a>
  </div>
{% endmacro %}

{{ paginate_link(prev, '&laquo;') }}
<div lang="sa" class="grow md:mx-8">
<nav class="mx-auto mt-8 pb-4 mb-8 border-b">
  {{ section_title(text, section) }}
</nav>
{{ content | safe }}
</div>
{{ paginate_link(next, '&raquo;') }}
